# AnÃ¡lisis de datos

Para generar las slides use:

In [30]:
%%bash
jupyter nbconvert ALL_inspire.ipynb --to slides --reveal-prefix "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0"

[NbConvertApp] Converting notebook ALL_inspire.ipynb to slides
[NbConvertApp] Writing 273514 bytes to ALL_inspire.slides.html

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_colwidth',200)

## Load data (WARNING: 1.5 GB)
Download from [here](https://drive.google.com/file/d/1NtocdsxbTky5uLmKp3eDoGcQG7qsTEYv/view?usp=sharing)

In [3]:
df_all=pd.read_json('hep_records.json',lines=True)

In [4]:
df_all.shape

(1271720, 10)

## Keep only entries with references

In [5]:
dfr=df_all[df_all.references.map(len)>0].reset_index(drop=True)

In [6]:
dfr.shape

(896637, 10)

### make a query

In [96]:
q=input('Search for author, e.g: restrepo, d:  ')

rq=dfr[dfr.full_authors.str.lower().str.contains('restrepo, d')].reset_index(drop=True)
print('{} records found'.format(rq.shape[0])  )
rq

Search for author, e.g: restrepo, d:  restrepo,d
46 records found

,abstract,authors,citations,co-authors,creation_date,free_keywords,recid,references,standardized_keywords,title,full_authors
0,"In the simplest scheme for neutrino masses invoking a triplet of Higgs scalars there are two CP-even neutral Higgs bosons $H_i$ (i=1,2) and one massive pseudoscalar $A$. For some choices of parame...","[Diaz, M.A.]","[468209, 614714, 1387338, 594326, 1465858]","[Garcia-Jareno, M.A., Restrepo, D.A., Valle, J.W.F.]",1997-12,[],452755,"[452289, 156195, 297673, 154794, 338828, 153987, 448471, 154264, 165562, 426586, 415276]","[electron positron: annihilation, Z0: electroproduction, Z0: width, electroweak interaction: validity test, Higgs particle: triplet, Higgs particle: mass, neutrino: mass, Higgs particle: hadronic ...",Neutrino mass and missing momentum Higgs boson signals,"Diaz, M.A.\nGarcia-Jareno, M.A.\nRestrepo, D.A.\nValle, J.W.F.\n"
1,"We perform a careful study of the neutral scalar sector of a model which includes a singlet, a doublet, and a triplet scalar field under $SU(2)$. This model is motivated by neutrino physics, since...","[Diaz, Marco A.]","[871431, 1618442, 594326, 1343128, 1454236, 818590, 733727, 511268, 496198, 871848, 1405993, 817322, 565163, 685357, 538417, 614714, 1419067, 484678, 1387338, 1477837, 611151, 475730, 1484516, 149...","[Garcia-Jareno, M.A., Restrepo, Diego A., Valle, J.W.F.]",1998-03,"[14.80.Cp, 13.85.Qk, 11.30.Fs, 12.60.Fr, 14.60.Pq]",468209,"[341121, 12291, 12292, 384903, 338828, 354450, 153987, 154264, 448153, 21019, 337948, 357919, 156195, 219303, 31786, 415276, 361648, 165562, 341307, 450497, 297673, 38603, 36949, 295257, 355805, 3...","[electron positron: annihilation, Higgs particle: electroproduction, Higgs particle: associated production, Majoron, neutrino: mass generation, electroweak interaction: model, Higgs particle: mult...",Seesaw Majoron model of neutrino mass and novel signals in Higgs boson production at LEP,"Diaz, Marco A.\nGarcia-Jareno, M.A.\nRestrepo, Diego A.\nValle, J.W.F.\n"
2,We study unconventional decays of the top-quark and the top-squark in the framework of SUSY models with broken R-parity. The model under study is the MSSM with an additional bilinear term that bre...,"[de Campos, F.]","[500354, 1325035, 618376, 1228048, 497300, 525081, 579226, 705563, 1296678, 780075, 530873, 508352, 1266784, 503363, 555590, 1234255, 784720, 561745, 509817, 510559, 500832, 505185, 1229521, 56663...","[Diaz, M.A., Eboli, Oscar J.P., Magro, M.B., Navarro, L., Porod, W., Restrepo, D.A., Valle, J.W.F.]",1998-11,[],483425,"[15873, 396546, 474677, 444170, 393099, 452880, 446097, 453140, 451477, 295257, 466802, 451738, 15646, 480287, 422690, 425251, 419885, 419377, 466483, 419381, 427318, 466366, 421951, 477316, 42771...","[talk: Batavia 1998/11/19, electroweak interaction, supersymmetry, R parity: violation, top: decay modes, squark: top, squark: decay, neutrino/tau: mass, top: branching ratio, squark: branching ra...",R-parity violating decays of the top quark and the top squark at the Tevatron,"de Campos, F.\nDiaz, M.A.\nEboli, Oscar J.P.\nMagro, M.B.\nNavarro, L.\nPorod, W.\nRestrepo, D.A.\nValle, J.W.F.\n"
3,We present an outlook for possible discovery of supersymmetry with broken R-parity at Run II of the Tevatron. We first present a review of the literature and an update of the experimental bounds. ...,"[Allanach, B.]","[607232, 607233, 563718, 601608, 667151, 1410582, 1624599, 530456, 562201, 1256960, 509103, 611357, 733727, 1395748, 612390, 733617, 805935, 887860, 538165, 1091641, 568890, 610875, 555069, 777279...","[Baer, H., Banerjee, S., Berger, Edmond L., Chertok, M.B., Cheung, King-man, de Campos, F., Dedes, A., Diaz, M.A., Dreiner, Herbert K., Eboli, Oscar J.P., Gunion, John F., Harris, B.W., Hewett, J....",1999-03,[],501153,"[30227, 453140, 466455, 429080, 478234, 478236, 37978, 480287, 394274, 441899, 419885, 419377, 466483, 419381, 396346, 448572, 421951, 455239, 322640, 427604, 371286, 398425, 393306, 424543, 30316...","[talk: Batavia 1998/11/19, anti-p p: interaction, supersymmetry: search for, R parity: violation, lepton number: violation, baryon number: violation, sparticle: hadroproduction, sparticle: decay m...",Searching for R parity violation at Run II of the Tevatron,"Allanach, B.\nBaer, H.\nBanerjee, S.\nBerger, Edmond L.\nChertok, M.B.\nCheung, King-man\nde Campos, F.\nDedes, A.\nDiaz, M.A.\nDreiner, Herbert K.\nEboli, Oscar J.P.\nGunion, John F.\nHarris, B.W..."
4,We study the decays of the lightest top squark in supergravity models with and without R-parity. Using the simplest model with an effective explicit bilinear breaking of R-parity and radiative ele...,"[Diaz, Marco A.]","[583446, 1311631, 594326, 526105, 525081, 530332, 522781, 591526, 617004, 599469, 526645, 612791, 662457, 614714, 555069, 508352, 624709, 563786, 617551, 675031, 537178, 1279782, 566634, 582638, 5...","[Restrepo, Diego A., Valle, J.W.F.]",1999-08,"[14.80.Ly, 11.30.Pb, 11.30.Fs, 12.10.Dm, 12.10.Kt, 12.60.Jv]",505185,"[15873, 400904, 501272, 467485, 14366, 473119, 35874, 296484, 495143, 31786, 419885, 395311, 419377, 466483, 474677, 38460, 474689, 284229, 284225, 474208, 483425, 280168, 500832, 394863, 373877, ...","[supersymmetry, sparticle: decay modes, final state: two-particle, squark: top, supergravity, R parity: invariance, R parity: violation, electroweak interaction: symmetry breaking, radiative corre...",Two-body decays of the lightest stop in supergravity with and without R-parity,"Diaz, Marco A.\nRestrepo, Diego A.\nValle, J.W.F.\n"
5,A non anomalous horizontal $U(1)_H$ gauge symmetry can be responsible for the fermion mass hierarchies of the minimal supersymmetric standard model. Imposing the consistency conditions for the abs...,"[Mira, Jesus M.]","[530816, 534339, 824906, 557190, 566634, 591539, 600620, 783693, 1263385, 621743, 649840, 922002, 588051, 528693, 618391, 619480, 813721, 622170, 699315, 650667, 719807]","[Nardi, Enrico, Restrepo, Diego A.]",1999-10,[],509514,"[418880, 260996, 262918, 472711, 227087, 506261, 381979, 495645, 394272, 396971, 285248, 334541, 394212, 353039, 15583, 359267, 37604, 419815, 131306, 506995, 415221, 341758]","[gauge field theory: SU(3) x SU(2) x U(1) x U(1), horizontal symmetry: U(1), fermion: mass, supersymmetry, coupling: Yukawa, anomaly, mu-term, fermion: charge]",Nonanomalous horizontal U(1)H gauge model of flavor,"Mira, Jesus M.\nNardi, Enrico\nRestrepo, Diego A.\n"
6,We discuss the phenomenology of the lightest stops in models where R-parity is broken by bilinear terms. In this class of models we consider scenarios where the R-parity breaking two-body decay st...,"[Porod, W.]","[566634, 539115, 566893, 700942, 568125, 784720, 1266961, 525081, 579226, 530332, 555069, 601695]","[Restrepo, D., Valle, J.W.F.]",2000-01,[],522781,"[15873, 381187, 392581, 21895, 444170, 261377, 446097, 443541, 400790, 394863, 497308, 15646, 480287, 189857, 245538, 296484, 475121, 475265, 504496, 419377, 466483, 199476, 452510, 352585, 178999...","[supersymmetry, R parity: violation, sparticle: decay modes, final state: two-particle, final state: (3particle), squark: top, squark: mass, sparticle: branching ratio, sparticle: mixing angle, nu...",Light stop: MSSM versus R-parity violation,"Porod, W.\nRestrepo, D.\nValle, J.W.F.\n"
7,We discuss the phenomenology of the lightest neutralino in models where an effective bilinear term in the superpotential parametrizes the explicit breaking of R-parity. We consider supergravity sc...,"[Bartl, A.]","[1256960, 583446, 836617, 542474, 589202, 594326, 587037, 1395748, 638517, 612791, 614714, 543676, 555069, 815048, 649548, 617551, 799953, 675031, 537178, 590555, 533222, 566634, 540139, 532979, 5...","[Porod, W., Restrepo, D., Romao, J., Valle, J.W.F.]",2000-07,[],530332,"[15873, 381187, 466180, 21895, 444170, 261377, 452752, 446097, 30227, 497300, 443541, 526105, 394863, 497308, 421096, 15646, 523936, 524451, 296484, 423729, 475265, 473052, 31786, 18350, 522781, 5...","[electron positron: annihilation, supersymmetry: potential, R parity: violation, supergravity, LSP, neutralino, sparticle: electroproduction, sparticle: lifetime, sparticle: decay modes, sparticle...",Neutralino phenomenology at LEP-2 in supersymmetry with bilinear breaking of R-parity,"Bartl, A.\nPorod, W.\nRestrepo, D.\nRomao, J.\nValle, J.W.F.\n"
8,We study extensions of supersymmetric models without R-parity which include an anomalous U(1)_H horizontal symmetry. Bilinear R-parity violating terms induce a neutrino mass at tree level of appro...,"[Mira, J.M.]","[617218, 651524, 651654, 1279495, 768697, 542474, 675031, 567213, 619480, 630420, 594326, 1263385, 1088408, 652420, 783258, 727727, 589212, 587037, 708901, 582695, 634280, 707996, 617004, 599469, ...","[Nardi, E., Restrepo, D.A., Valle, J.W.F.]",2000-07,[],530816,"[15873, 338052, 262918, 21895, 261377, 353039, 504024, 218262, 526105, 477316, 381979, 15646, 394272, 372386, 180259, 341160, 523701, 472711, 504496, 523700, 419381, 529594, 15583, 502207, 302016,...","[supersymmetry, R parity: violation, horizontal symmetry: U(1), neutrino: mass, tree approximation, Feynman graph: higher-order, neutrino: solar, neutrino: mixing angle, Higgs particle: coupling, ...",Bilinear R-parity violation and small neutrino masses: A Selfconsistent framework,"Mira, J.M.\nNardi, E.\nRestrepo, D.A.\nValle, J.W.F.\n"
9,We discuss the phenomenology of the lightest stop in models where R-parity is broken by bilinear superpotential terms. In this class of models we consider scenarios where the R-parity breaking two...,"[Restrepo, Diego]","[1256960, 779777, 873899, 594326, 651654, 542474, 696461, 700942, 716948, 583446, 655023, 611357, 815006, 692512, 624548, 591526, 634663, 780075, 617004, 587037, 842933, 612791, 662457, 614714, 81...","[Porod, Werner, Valle, Jose W.F.]",2001-04,[],555069,"[530816, 15873, 381187, 392581, 21895, 444170, 261377, 540015, 532979, 446097, 443541, 400790, 526105, 525081, 472474, 394863, 497308, 522781, 15646, 480287, 189857, 245538, 296484, 475121, 475265...","[squark: top, squark: decay modes, squark: width, squark: branching ratio, R parity: violation, neutrino: solar, neutrino: mixing angle, numerical calculations, bibliography, squark --> bottom lep...","Broken R-parity, stop decays, and neutrino physics","Restrepo, Diego\nPorod, Werner\nValle, Jose W.F.\n"
10,"A Majorana neutrino is characterized by just one flavor diagonal electromagnetic form factor: the anapole moment, that in the static limit corresponds to the axial vector charge radius <r^2_A>. Ex...","[Hirsch, Martin]","[922252, 795536, 786712, 1370010, 632992, 613794, 795558, 766759, 820807, 799277, 733617, 624967, 756898, 617167, 1112784, 805725, 791402, 651244, 1380205, 605039, 1376498, 1380212, 1639033, 12870...","[Nardi, Enrico, Restrepo, Diego]",2002-10,[],599285,"[568832, 382209, 582918, 33287, 403978, 301453, 439697, 581652, 470677, 538648, 592407, 7192, 590617, 508079, 176797, 450757, 381088, 531632, 587803, 306084, 168101, 552998, 478119, 419375, 446000...","[neutrino: Majorana, neutrino: form factor, form factor: electric, neutrino/mu, neutrino/tau, electron positron: annihilation, neutrino: pair production, photon: associated production, form factor...",Bounds on the tau and muon neutrino vector and axial vector charge radius,"Hirsch, Martin\nNardi, Enrico\nRestrepo, Dieg.\n"
11,"The Higgs potential and the mass spectrum of the N=1 supersymmetric extension of a recently proposed one-family model based on the local gauge group $SU(3)_c \otimes SU(3)_L \otimes U(1)_X$, which...","[Mira, Jesus M.]","[721711, 1193362, 705347, 652479]","[Ponce, William A., Restrepo, Diego A., Sanchez, Luis A.]",2003-01,[],611590,"[553473, 355203, 502790, 423361, 442760, 29450, 592139, 591756, 119183, 587025, 582802, 592480, 342191, 100124, 446170, 34224, 381475, 394152, 538665, 597034, 335407, 301872, 504968, 553906, 6195,...","[sparticle: mass spectrum, potential: Higgs, family: 1, supersymmetry, gauge field theory: SU(3) x SU(3) x U(1), slepton: multiplet, mu-problem, slepton: Goldstone particle, bibliography]",Supersymmetric one family model without Higgsinos,"Mira, Jesus M.\nPonce, William A.\nRestrepo, Diego A.\nSanchez, Luis A.\n"
12,We analyze the production of multileptons in the simplest supergravity model with bilinear violation of R parity at the Fermilab Tevatron. Despite the small R-parity violating couplings needed to ...,"[Magro, M.B.]","[625792, 914987, 1410582, 794086, 768697, 628202, 782391, 793069, 661391, 796080, 1120297, 638517, 770422, 675031, 662457, 1396890, 744348, 704765, 658431]","[de Campos, F., Eboli, O.J.P., Porod, W., Restrepo, D., Valle, J.W.F.]",2003-04,[],617551,"[530816, 15873, 396546, 508421, 587157, 472711, 444170, 493838, 446097, 497300, 443541, 594326, 562201, 443416, 526105, 530332, 537178, 15646, 501153, 394274, 510066, 591526, 582695, 475265, 31786...","[p p: interaction, lepton: multiple production, neutrino: mass, supergravity, supersymmetry: symmetry breaking, R parity: violation, LSP: decay, LSP: branching ratio, background, numerical calcula...",Probing neutrino mass with multilepton production at the Tevatron in the simplest R parity violation model,"Magro, M.B.\nde Campos, F.\nEboli, O.J.P.\nPorod, W.\nRestrepo, D.\nValle, J.W.F.\n"
13,Supersymmetric extensions of the standard model exhibiting bilinear R-parity violation can generate naturally the observed neutrino mass spectrum as well mixings. One interesting feature of these ...,"[de Campos, F.]","[1243648, 914987, 945801, 1287487, 718612, 843925, 1410582, 1276823, 1397016, 783258, 1396890, 692512, 1381281, 729509, 1346856, 750763, 796080, 777268, 720437, 782391, 768697, 1112767, 723520, 83...","[Eboli, O.J.P., Magro, M.B., Porod, W., Restrepo, D., Valle, J.W.F.]",2005-01,[],675031,"[530816, 15873, 396546, 508421, 563009, 444170, 654093, 493838, 21263, 497300, 443541, 443416, 526105, 530332, 558938, 452510, 632863, 501153, 394274, 471843, 624548, 510066, 591526, 559272, 31786...","[neutrino: mass, neutrino: mixing angle, supersymmetry: symmetry breaking, R parity: violation, supergravity: minimal, LSP: decay, decay: vertex, neutralino: decay modes, numerical calculations: B...",Probing neutrino mass with displaced vertices at the Tevatron,"de Campos, F.\nEboli, O.J.P.\nMagro, M.B.\nPorod, W.\nRestrepo, D.\nValle, J.W.F.\n"
14,"In models with gauge mediated supersymmetry breaking the gravitino is the lightest supersymmetric particle. If R-parity is violated the gravitino decays, but with a half-live far exceeding the age...","[Hirsch, M.]","[1281536, 779777, 1184257, 824840, 1480078, 769167, 1397016, 896274, 690963, 1227540, 1256597, 1276823, 1203662, 1247515, 815006, 1424544, 1346856, 1492009, 914987, 796080, 1320712, 1650995, 77726...","[Porod, W., Restrepo, D.]",2005-03,"[SUPERSYMMETRY, NEUTRINO MASS AND MIXING, dark matter, collider]",677884,"[656640, 11140, 627222, 638218, 636940, 493838, 598927, 452440, 497300, 526998, 562201, 526105, 473119, 590555, 507429, 591526, 648746, 496557, 548274, 619171, 560311, 543545, 448159, 593351, 6127...","[supersymmetry: symmetry breaking, R parity: violation, gravitino: mass, dark matter, neutralino: radiative decay, neutralino: branching ratio, neutralino: width, neutrino: mass, neutralino: mass,...",Collider signals of gravitino dark matter in bilinearly broken R-parity,"Hirsch, M.\nPorod, W.\nRestrepo, D.\n"
15,We consider the version of the Zee model where both Higgs doublets couple to leptons. Within this framework we study charged Higgs decays. We focus on a model with minimal number of parameters con...,"[Aristizabal Sierra, D.]","[1480193, 1180035, 882180, 1389192, 770066, 1330307, 843925, 1382168, 1397663, 1427744, 1290535, 1424552, 1476658, 782391, 1485375, 1456800, 1410885, 766025, 1605582, 945234, 727379, 1472983, 1597...","[Restrepo, Diego]",2006-04,[],713693,"[530816, 15873, 4994, 153987, 581384, 537994, 654701, 152341, 591126, 526105, 423067, 15646, 679963, 152868, 507429, 22952, 711388, 617004, 567213, 143150, 565611, 616120, 143802, 699029, 467647, ...","[Higgs particle: charged particle, Higgs particle: leptonic decay, Higgs particle: width, Higgs particle: branching ratio, Zee model, Higgs particle: multiplet, doublet: 2, electron positron: anni...",Leptonic Charged Higgs Decays in the Zee Model,"Aristizabal Sierra, D.\nRestrepo, Dieg.\n"
16,"We study the collider phenomenology of bilinear R-parity violating supergravity, the simplest effective model for supersymmetric neutrino masses accounting for the current neutrino oscillation dat...","[de Campos, F.]","[770176, 779777, 914987, 1184257, 824840, 1304458, 1276823, 811532, 1492009, 1410582, 1263385, 1397016, 779161, 783258, 1247515, 1396890, 1381281, 1239843, 1346856, 1120297, 873899, 865070, 796080...","[Eboli, O.J.P., Magro, M.B., Porod, W., Restrepo, D., Hirsch, M., Valle, J.W.F.]",2007-12,[],770422,"[15873, 501890, 642539, 765060, 563718, 444170, 493838, 721043, 497300, 751278, 526105, 724251, 478236, 558938, 15646, 473119, 501153, 624548, 651654, 559142, 110120, 31786, 750763, 553102, 509103...","[supergravity, R parity: violation, neutrino: mass, neutrino: oscillation, p p: interaction, jet: pair production, transverse momentum, neutralino: decay modes, leptonic decay, semileptonic decay,...",Probing bilinear R-parity violating supergravity at the LHC,"de Campos, F.\nEboli, O.J.P.\nMagro, M.B.\nPorod, W.\nRestrepo, D.\nHirsch, M.\nValle, J.W.F.\n"
17,"This review presents flavour related issues in the production and decays of heavy states at LHC, both from the experimental side and from the theoretical side. We review top quark physics and disc...","[del Aguila, F.]","[1243648, 780294, 890377, 1112076, 850446, 900112, 795667, 787477, 1123364, 1419782, 875046, 831533, 802864, 871473, 1442355, 804410, 790594, 798787, 787526, 1121880, 1507856, 872034, 881254, 8955...","[Aguilar-Saavedra, J.A., Allanach, B.C., Alwall, Johan, Andreev, Yu., Aristizabal Sierra, D., Bartl, A., Beccaria, M., Bejar, S., Benucci, L., Bityukov, S., Borjanovic, I., Bozzi, G., Burdman, Gus...",2008-01,[],777268,"[393216, 777216, 700431, 581656, 729114, 751644, 664922, 632863, 471072, 557090, 419885, 690222, 742749, 653361, 655413, 686134, 475194, 282684, 553022, 526399, 679264, 587850, 587851, 732173, 630...","[conference summary, Geneva 2007/03/26, p p: colliding beams, p p: inclusive reaction, quark: hadroproduction, top, quark: coupling, effective Lagrangian, vertex function: (top bottom W), neutral ...",Collider aspects of flavour physics at high $Q$,"del Aguila, F.\nAguilar-Saavedra, J.A.\nAllanach, B.C.\nAlwall, Johan\nAndreev, Yu.\nAristizabal Sierra, D.\nBartl, A.\nBeccaria, M.\nBejar, S.\nBenucci, L.\nBityukov, S.\nBorjanovic, I.\nBozzi, G..."
18,In supersymmetric models the lightest Higgs boson may decay with a sizable branching ratio into a pair of light neutralinos. We analyze such decays within the context of the minimal supersymmetric...,"[Aristizabal Sierra, D.]","[1381281, 798915, 1251430, 1503457, 1494411, 1365806, 1180207, 1466704, 896274, 1197331, 1484526, 926166, 793723, 1609022, 1112767]","[Porod, W., Restrepo, D., Yaguna, Carlos E.]",2008-04,[],783258,"[530816, 15873, 651654, 497300, 526998, 680472, 526105, 723875, 537178, 15646, 777888, 700321, 778402, 283171, 624548, 591526, 341160, 597034, 748589, 751278, 757306, 603444, 782391, 380856, 31737...","[minimal supersymmetric standard model, R parity: violation, Higgs particle: decay, Higgs particle: branching ratio, neutralino: pair production, neutralino: decay modes, neutralino: lifetime, dec...",Novel Higgs decay signals in R-parity violating models,"Aristizabal Sierra, D.\nPorod, W.\nRestrepo, D.\nYaguna, Carlos E.\n"

###  Convert to WOS-like format

In [171]:
dfr['full_authors']=dfr['authors']+dfr['co-authors']

In [172]:
dfrw=dfr.copy()
dfrw.full_authors=dfrw.full_authors.str.join('\n').str.replace('.$','\n')
#convert integer list to string list: https://stackoverflow.com/a/3590175/2268280
dfrw['refs']=dfrw.references.map(lambda x: '\n'.join( map( str,x )   )).str.replace('.$','\n')

In [177]:
dfrw[['title','full_authors','refs']][:3]#.to_excel('inspire.xlsx',index=False)

,title,full_authors,refs
0,A target beam monitor using secondary electron emission,"Johnston, Lawrence II.\nMurray, Joseph J.\nGearhart, Roger A.\nHauser, Todd\nKlein, Paul R\n",4864\n
1,Neutron-Proton Scattering Below 20-MeV,"Noyes, H.Pierr\n",47202\n43619\n47204\n46245\n47400\n45692\n438702\n48175\n458288\n3218\n48052\n46838\n9144\n1476836\n46874\n47483\n46684\n47418\n4688\n
2,Coherent Production as a Means of Determining the Spin and Parity of Bosons,"Berman, S.M.\nDrell, S.D\n",147582\n

## Build the network of references

In [7]:
1+1

2

In [ ]:
import time
def check_intersect1d(x,y):
    return np.intersect1d(x,y)

def check_not_ref(x,ref):
    return x not in ref

df=dfr.sample(1000).sort_values('recid').reset_index(drop=True)

ed=pd.DataFrame()
edges=[]

s=time.time()
Nmin=4
#===log===
f=open('kk.log','w')
f.write('')
f.close()
#=======
#DEBUG===========
#i=5000
#if True:
for i in df.index:
#================    
    #remove i
    #===log===
    f=open('kk.log','a')
    f.write('{}\n'.format(i))
    f.close()
    #=======
    print(i,end='\r')
    # Drop already analysed files
    df_not_i=df.drop( df.index[ range(0,i+1)  ] ) 
    # prepare edges DataFrame
    df_not_i=df_not_i.rename_axis({'recid':'target'}, axis = 'columns')
    #WARNING: limit the number of columns to free memory
    df_not_i=df_not_i[['target','references']]
    # Make the intersection of df.loc[i,'references' with all the others one (see previous restricion)
    df_not_i['intersect']=df_not_i['references'].map(lambda x: check_intersect1d(x,df.loc[i,'references']))
    # Restrict the number of edges
    df_not_i=df_not_i[df_not_i['intersect'].map(len)>Nmin]
    # Add source column. 
    df_not_i['source']=df.loc[i,'recid']
    # drop references columns
    ed=ed.append( df_not_i[['source','target','intersect']] ).reset_index(drop=True) 
    if ed.shape[0]>20000:
        break


print(time.time()-s)

In [195]:
#DEBUG========
i=5000
if True:
#for i in df.index:
#=============    
    #remove i
    #===log===
    f=open('kk.log','a')
    f.write('{}\n'.format(i))
    f.close()
    #=======
    print(i,end='\r')
    # Drop already analysed files
    df_not_i=df.drop( df.index[ range(0,i+1)  ] ) 
    # prepare edges DataFrame
    df_not_i=df_not_i.rename_axis({'recid':'target'}, axis = 'columns')
    #WARNING: limit the number of columns to free memory
    df_not_i=df_not_i[['target','references']]
    # Make the intersection of df.loc[i,'references' with all the others one (see previous restricion)
    df_not_i['intersect']=df_not_i['references'].map(lambda x: check_intersect1d(x,df.loc[i,'references']))
    # Restrict the number of edges
    df_not_i=df_not_i[df_not_i['intersect'].map(len)>Nmin]
    # Add source column. 
    df_not_i['source']=df.loc[i,'recid']
    # drop references columns
    ed=ed.append( df_not_i[['source','target','intersect']] ).reset_index(drop=True) 
    if ed.shape[0]>20000:
        pass#break

In [201]:
df_not_i=df.drop( df.index[ range(0,i+1)  ] ) 
df_not_i.shape

(4999, 10)

In [202]:
df_not_i=df_not_i.rename_axis({'recid':'target'}, axis = 'columns')
    #WARNING: limit the number of columns to free memory
df_not_i=df_not_i[['target','references']]
    # Make the intersection of df.loc[i,'references' with all the others one (see previous restricion)

In [203]:
df_not_i['intersect']=df_not_i.references.map(lambda x: check_intersect1d(x,df.loc[i,'references']))

In [208]:
df_not_i[df_not_i.intersect.map(len)>1]

,target,references,intersect
5193,742434,"[622208, 628099, 728926, 597893, 596486, 211976, 615305, 665611, 351118, 715407, 504464, 913532, 544659, 128277, 335641, 596510, 651295, 361760, 647460, 603949, 729779, 34357, 382134, 612284, 7085...","[128277, 211976]"
7022,1088938,"[810880, 622852, 632709, 211976, 622217, 128277, 520472, 665117, 843935, 779815, 259272, 751923, 377909, 593722, 622267, 595388, 225845, 312643, 292552, 573643, 439250, 139219, 578136, 654427, 866...","[128277, 211976]"
7583,1239108,"[795755, 497668, 621061, 493703, 211976, 834185, 884237, 834964, 128277, 838428, 749214, 828321, 652580, 917991, 707625, 439339, 813613, 225845, 548664, 677051, 800574, 275527, 647752, 692937, 617...","[128277, 211976]"

In [163]:
df_not_i=df.drop( df.index[ range(0,i+1)  ] )

In [168]:
df.loc[i,'references']

[1433899,
 33542,
 1440262,
 68753,
 47645,
 72990,
 45472,
 9380,
 9381,
 47910,
 66345,
 66346,
 79147,
 55604,
 78136,
 79034,
 3901,
 48117,
 1435974,
 51023,
 942928,
 1433445,
 1474785,
 45541,
 79984,
 84210,
 55669,
 70905,
 65661]

In [161]:
df[:10]

,abstract,authors,citations,co-authors,creation_date,free_keywords,recid,references,standardized_keywords,title
0,The assertion that the Jost function of ans-wave nonlocal potential is equivalent to the ratio of the Fredholm determinants of the integral equations corresponding to the physical and regular solu...,"[Ahmad, S.S.]","[168224, 213603, 128614, 176042, 118224, 124049, 151868, 151934]",[],1974-01,[],687,"[1433899, 33542, 1440262, 68753, 47645, 72990, 45472, 9380, 9381, 47910, 66345, 66346, 79147, 55604, 78136, 79034, 3901, 48117, 1435974, 51023, 942928, 1433445, 1474785, 45541, 79984, 84210, 55669...","[potential scattering, partial wave, axiomatic field theory, s-matrix, analytic properties]",On the Connection Between Fredholm Determinant and Jost Function for Nonlocal Potentials
1,,"[Balazs, Louis A.P.]",[],[],1974-06,[],1238,"[93296, 84354, 84923, 81796, 56421, 72039, 84716, 81194, 73452, 68528, 93074, 93075, 85338, 67131, 84924, 84746]",[],Nondiffractive Component of Pomeranchuk Exchange at Small t in an Approximately Unitarized Dual pi pi Model
2,,"[Olesen, P.]",[],[],1974-07,[],1307,"[80965, 81351, 61163, 81230, 81238, 68024, 83804, 95133]","[LECTURES, QUARK: CONFINEMENT, MODEL: GLUON, DUALITY, MODEL: STRING, FIELD THEORETICAL MODEL, BARYON: MULTIPLET, MULTIPLET: BARYON]",Dual Confinement of Quarks
3,,"[Mignani, R.]","[122168, 99841, 123060, 98677, 100007]","[Recami, E.]",1974-08,[],1507,"[4677, 80614, 83146, 92887, 1075, 96052, 50007, 80668]",[],Possible Experimental Behavior of Tachyon Monopoles
4,,"[Zachariasen, F.]",[],[],1974-09,[],1591,"[75684, 3175, 62312, 75052, 61582, 68528, 74387, 68215, 601]",[],Selfconsistent Models of the Pomeron
5,"At the six lowest-lying levels, the quark model predicts a sequence L=0,Â 1,Â 2,Â â¦ of meson states with specific JPC coupling to two and three pions. The symmetric-group model gives exactly the coin...","[Frampton, P.H.]","[99888, 1957, 263366]",[],1974-11,[],1723,"[11880, 91648, 68388, 67206, 91825]",[],Predictions of Quark and Dual Approaches to Meson Classification
6,A free motion of a relativistic string is quantized by the use ofr Dirac's generalized canonical formalism. It is shown that only the light-like gauge is applied to quantization of this system and...,"[Chikashige, Yuichi]","[18720, 203233, 120354, 14787, 8903, 9960, 7341, 3823, 108082, 120355, 3599, 15803]","[Kamimura, Kiyoshi]",1974-11,[],1738,"[80965, 42727, 26316, 9134, 3729, 2423, 68024, 54961]","[QUANTUM MECHANICS: RELATIVISTIC, MODEL: STRING, INVARIANCE: GAUGE]",The Canonical Quantization of Relativistic String
7,,"[Inagaki, Hisakazu]",[],[],1974-12,[],1864,"[1384659, 67305, 81023, 84012, 67793, 69267, 1973, 69595, 67166, 80981]",[],Extended Light Cone Algebra and electron - Proton Scattering
8,We have observed fourteen events in which two muons are produced by high-energy neutrino and antineutrino interactions. The absence of trimuon events and the observed characteristics of the dimuon...,"[Benvenuti, A.C.]","[116742, 147463, 112649, 129037, 117763, 4118, 110619, 110624, 118817, 2083, 194567, 100396, 108589, 112694, 98364, 135236, 110661, 315463, 100429, 2129, 116819, 116820, 114774, 108632, 2145, 1127...","[Cline, D., Ford, William T., Imlay, R., Ling, T.Y., Mann, A.K., Messing, F., Orr, R., Reeder, D.D., Rubbia, C., Stefanski, R., Sulak, L., Wanderer, Peter J.]",1975-02,[],1953,"[2179, 98021, 82859, 90414, 1776, 93430, 48216, 1887]",[],Observation of New Particle Production by High-Energy Neutrinos and anti-neutrinos
9,,"[Saenz, A.W.]",[],"[Zachary, W.W.]",1975-02,[],1981,"[89121, 79942, 52774, 79817, 79946, 94476, 79057, 82418, 72724, 1477126, 65720, 88217, 71546, 66239]",[],On the Equality of s Operators Corresponding to Unitarily Equivalent Hamiltonians in Single Channel Scattering

In [158]:
ed[:10]

Empty DataFrame
Columns: [source, target, intersect]
Index: []

In [ ]:
s=time.time()
Nmin=4
#DEBUG========
#if True:
#    i=0
for i in df.index:
#=============    
    #remove i
    #===log===
    f=open('kk.log','a')
    f.write('{}\n'.format(i))
    f.close()
    #=======
    print(i,end='\r')
    df_not_i=df.drop(df.index[[i]])
    df_not_i['intersect']=df_not_i.references.map(lambda x: check_intersect1d(x,df.loc[i,'references']))
    df_not_i=df_not_i[df_not_i.intersect.map(len)>Nmin]
    df_not_i=df_not_i.rename_axis({'recid':'target'}, axis = 'columns')
    df_not_i['source']=df.loc[i,'recid']
    # switch source, target order and remove if already in edges
    df_not_i=df_not_i[ ( df_not_i.target.map( lambda x: [x] )+df_not_i.source.map( lambda x: [x] )
          ).map(lambda x: check_not_ref(x,edges) )]        
    # list of edges: [ [source, target],... ]
    try:
        edges=edges+np.stack(( df_not_i.source.values,df_not_i.target.values),axis=1 ).tolist()
        #Store Edges DataFrame
        ed=ed.append( df_not_i[['source','target','intersect']] ).reset_index(drop=True)
    except AttributeError:
        f=open('DEBUG','a')
        f.write('{}\n'.format(i))
        f.close()
        

print(time.time()-s)

In [144]:
ed_bkp=ed.copy()

In [24]:
ed.shape

(258600, 3)

In [27]:
len( edges )

258600

In [30]:
kk=ed[ed.intersect.map(len)>4]

In [34]:
kk.shape

(9277, 3)

In [37]:
kk.drop_duplicates(['source','target'])[-10:]

,source,target,intersect
258215,893812,1083623,"[399009, 645666, 666221, 750597, 792157]"
258264,893887,1344291,"[344376, 586746, 617287, 644478, 724663, 790952, 806293]"
258326,894076,1227984,"[4328, 51188, 119585, 393084, 393099]"
258328,894076,1231053,"[4328, 11883, 40208, 51188, 393084, 393099, 796887]"
258360,894076,1339957,"[4328, 11883, 40208, 51188, 1614070]"
258363,894076,1346600,"[4328, 11883, 51188, 119585, 393084, 393099]"
258381,894076,1429549,"[4328, 11883, 51188, 119585, 393084, 393099, 713909, 796887]"
258404,894076,1605397,"[455671, 713909, 796887, 1614057, 1614070]"
258412,894076,1657128,"[4328, 11883, 51188, 393084, 537586, 796887]"
258549,894529,1357569,"[412894, 441035, 520945, 832459, 865383, 865635]"

Fix edge

In [551]:
edf=ed[ed.intersect.map(len)>4].reset_index(drop=True)
edf[:3]

,source,target,intersect
0,1,2,"[2, 4, 18, 20, 25, 29, 31, 33, 34, 36, 40, 41, 51, 64, 81, 84, 86, 89, 91, 94, 95, 96, 99]"
1,1,4,"[1, 2, 4, 5, 6, 10, 15, 18, 20, 25, 30, 37, 38, 40, 44, 46, 49, 51, 53, 54, 55, 56, 71, 81, 82, 84, 86, 89, 91, 92, 96, 97]"
2,1,5,"[1, 2, 4, 6, 10, 12, 13, 15, 17, 20, 21, 22, 25, 29, 31, 37, 38, 46, 49, 52, 54, 55, 58, 64, 67, 70, 81, 82, 84, 89, 91, 92, 94, 95]"

In [552]:
edf

,source,target,intersect
0,1,2,"[2, 4, 18, 20, 25, 29, 31, 33, 34, 36, 40, 41, 51, 64, 81, 84, 86, 89, 91, 94, 95, 96, 99]"
1,1,4,"[1, 2, 4, 5, 6, 10, 15, 18, 20, 25, 30, 37, 38, 40, 44, 46, 49, 51, 53, 54, 55, 56, 71, 81, 82, 84, 86, 89, 91, 92, 96, 97]"
2,1,5,"[1, 2, 4, 6, 10, 12, 13, 15, 17, 20, 21, 22, 25, 29, 31, 37, 38, 46, 49, 52, 54, 55, 58, 64, 67, 70, 81, 82, 84, 89, 91, 92, 94, 95]"
3,1,6,"[4, 10, 22, 34, 41, 50, 51, 52, 53, 55, 67, 77, 80, 82, 83, 84, 92, 97]"
4,1,7,"[1, 7, 10, 13, 17, 22, 30, 31, 41, 44, 49, 50, 52, 56, 77, 80, 81, 84, 91, 94, 96, 97, 99]"
5,1,8,"[7, 13, 15, 29, 34, 51, 64, 91]"
6,1,10,"[2, 4, 6, 13, 20, 36, 37, 38, 46, 54, 55, 66, 71, 77, 79, 81, 86, 89, 92, 96, 97, 99]"
7,1,11,"[4, 5, 7, 30, 34, 40, 44, 46, 49, 50, 64, 66, 89, 95, 96, 97]"
8,1,12,"[1, 2, 4, 5, 6, 7, 10, 15, 17, 18, 22, 25, 31, 34, 36, 37, 41, 42, 55, 58, 64, 66, 67, 71, 79, 80, 82, 83, 89, 91, 97, 99]"
9,1,13,"[2, 5, 13, 18, 21, 29, 30, 34, 36, 38, 40, 42, 46, 51, 56, 82, 86, 95, 99]"
10,1,14,"[4, 12, 30, 34, 36, 41, 42, 44, 50, 51, 55, 56, 58, 67, 70, 79, 80, 83, 89, 91]"
11,1,15,"[4, 5, 7, 34, 41, 53]"
12,1,16,"[1, 6, 12, 17, 29, 30, 31, 33, 42, 49, 54, 55, 64, 66, 77, 79, 84, 86, 89, 91, 95]"
13,1,17,"[2, 4, 5, 10, 12, 17, 20, 21, 22, 31, 33, 36, 37, 38, 40, 41, 42, 46, 49, 51, 55, 64, 66, 71, 79, 81, 82, 83, 84, 86, 89, 92, 96, 99]"
14,1,18,"[2, 5, 6, 10, 13, 15, 22, 29, 30, 31, 33, 40, 41, 46, 50, 54, 66, 67, 70, 71, 77, 80, 81, 82, 92, 94, 96, 97, 99]"
15,1,19,"[2, 5, 7, 13, 15, 17, 18, 21, 22, 30, 31, 33, 34, 36, 40, 41, 42, 44, 46, 51, 53, 56, 58, 66, 77, 79, 80, 82, 83, 86, 89, 91, 92, 94, 96]"
16,1,20,"[1, 4, 12, 29, 31, 37, 40, 49, 54, 70, 81, 82, 84, 89, 92, 96, 99]"
17,1,22,"[2, 6, 15, 20, 21, 22, 31, 33, 36, 40, 42, 53, 83, 84, 89, 91, 95, 96]"
18,1,23,"[1, 6, 7, 13, 21, 22, 25, 30, 31, 36, 37, 40, 42, 46, 49, 50, 53, 54, 55, 56, 64, 67, 71, 77, 79, 80, 83, 89, 91, 92, 94, 97]"
19,1,24,"[1, 2, 4, 5, 10, 12, 13, 17, 21, 25, 34, 36, 37, 38, 40, 44, 49, 51, 52, 56, 64, 70, 79, 80, 81, 84, 86, 91, 94, 95, 96, 97, 99]"
20,1,25,"[4, 5, 6, 7, 12, 18, 21, 25, 29, 34, 36, 37, 38, 40, 41, 42, 46, 50, 51, 52, 56, 64, 67, 71, 79, 81, 83, 86, 89, 92, 97]"
21,1,26,"[22, 38, 54, 58, 67, 89, 95]"
22,1,27,"[31, 33, 55, 77, 83, 94, 95]"
23,1,28,"[1, 2, 4, 10, 12, 13, 15, 22, 30, 33, 37, 38, 41, 42, 44, 46, 50, 79, 80, 82, 83, 86, 89, 94, 95, 97, 99]"
24,1,30,"[1, 2, 4, 6, 10, 15, 20, 21, 33, 37, 38, 44, 49, 50, 53, 54, 55, 56, 64, 70, 79, 82, 84, 91, 92, 96]"
25,1,31,"[2, 4, 7, 12, 13, 17, 18, 20, 29, 30, 33, 36, 37, 38, 40, 42, 44, 46, 53, 54, 56, 66, 67, 70, 77, 80, 81, 82, 83, 84, 91, 92, 94, 95, 96]"
26,1,32,"[6, 12, 13, 17, 18, 25, 38, 44, 46, 70, 71, 81, 82]"
27,1,33,"[1, 4, 5, 10, 12, 13, 15, 17, 18, 20, 22, 25, 29, 31, 33, 36, 41, 44, 46, 49, 51, 53, 55, 56, 64, 67, 70, 71, 77, 79, 83, 94, 96, 97, 99]"
28,1,34,"[1, 2, 4, 7, 13, 15, 21, 22, 25, 29, 37, 40, 42, 49, 52, 53, 54, 58, 64, 70, 77, 79, 81, 84, 86, 97]"
29,1,35,"[1, 25, 31, 33, 37, 41, 42, 56, 66, 71, 79, 80, 82, 84, 89, 91, 92]"
...,...,...,...
3218,87,100,"[14, 15, 17, 21, 56, 63, 74, 82]"
3219,90,91,"[11, 34, 60, 82, 92]"
3220,90,93,"[2, 27, 40, 54, 64, 67, 73, 92]"
3221,90,94,"[1, 2, 11, 34, 39, 88, 91]"
3222,90,95,"[11, 27, 34, 40, 51, 54, 60, 88, 95]"
3223,90,98,"[2, 11, 34, 51, 67, 89, 91, 95]"
3224,90,99,"[2, 27, 35, 39, 40, 46, 60, 67, 76, 82, 89, 95]"
3225,91,95,"[11, 22, 34, 58, 60]"
3226,91,98,"[11, 21, 34, 74, 86]"
3227,91,99,"[8, 29, 52, 58, 60, 74, 82]"
3228,92,98,"[31, 36, 62, 65, 86]"
3229,92,99,"[31, 43, 45, 55, 58, 59, 62, 80, 82]"
3230,93,94,"[2, 5, 7, 17, 21, 30, 36, 37, 44, 63, 68, 81, 84, 96]"
3231,93,95,"[19, 27, 38, 40, 47, 48, 54, 61, 71, 81]"
3232,93,96,"[17, 19, 61, 66, 71, 86]"
3233,93,98,"[2, 21, 30, 36, 47, 65, 67, 74, 86]"
3234,93,99,"[2, 5, 7, 17, 18, 19, 27, 38, 40, 41, 42, 44, 47, 48, 59, 61, 67, 68, 69, 74, 81, 84, 96]"
3235,93,100,"[17, 21, 25, 47, 48, 63, 64, 74, 84]"
3236,94,95,"[10, 11, 24, 34, 81, 88]"
3237,94,96,"[9, 17, 39, 43, 62, 79, 88]"
3238,94,98,"[2, 10, 11, 21, 30, 34, 36, 62, 91, 98]"
3239,94,99,"[2, 5, 7, 10, 17, 29, 39, 43, 44, 49, 50, 62, 68, 79, 81, 84, 96, 98]"
3240,94,100,"[15, 17, 21, 24, 63, 84]"
3241,95,96,"[4, 19, 61, 71, 87, 88]"
3242,95,98,"[10, 11, 34, 47, 51, 95]"
3243,95,99,"[4, 10, 19, 27, 38, 40, 47, 48, 58, 60, 61, 81, 95]"
3244,96,99,"[3, 4, 17, 19, 35, 39, 43, 61, 62, 79, 82]"
3245,96,100,"[3, 14, 17, 82, 99]"
3246,98,99,"[2, 6, 10, 31, 47, 62, 67, 74, 83, 89, 95, 98]"
3247,99,100,"[3, 13, 17, 28, 47, 48, 55, 74, 82, 84, 89, 97]"

In [8]:
import numpy as np

In [9]:
import pandas as pd

In [16]:
edf=pd.DataFrame({'source':[1,1,2,2],'target':[4,6,3,5]})
edf

   source  target
0       1       4
1       1       6
2       2       3
3       2       5

In [17]:
colegios=pd.DataFrame()
j=0
col={}
col[j]=[]

In [18]:
#i=3
#if True:
for i in edf.source.unique():
    #print(i)
    if True:
        if not i in col[j]: # new colegio!
            cl=edf[edf.source==i]
            # TODO loop in target
            if cl.target.values[0] not in col[j]: # neither source not target in old colegio:
                j=i
                col[j] =list( np.unique( np.concatenate ( ( cl.source.values,cl.target.values )  ) )  )
            else:
                col[j].append(i)

In [26]:
col.keys()

dict_keys([0, 1, 2])

In [31]:
cdf=pd.DataFrame()
cdf['colegios']=pd.Series(col)
cdf['source']=col.keys()
edf=edf.merge(cdf,on='source',how='left')

In [32]:
edf

   source  target   colegios
0       1       4  [1, 4, 6]
1       1       6  [1, 4, 6]
2       2       3  [2, 3, 5]
3       2       5  [2, 3, 5]

In [22]:
for i col.

{0: [], 1: [1, 4, 6], 2: [2, 3, 5]}

In [21]:
pd.DataFrame(col)

ValueError: arrays must all be same length

In [590]:
cl.source.values[0]

3

In [585]:
4 not in col[1]

False

In [580]:
cl=edf[edf.source==i]
cl

     source  target             intersect
168       3       4  [39, 40, 44, 48, 56]
169       3      25  [29, 39, 40, 48, 56]
170       3      31  [29, 39, 40, 44, 56]
171       3      33  [29, 39, 44, 48, 56]
172       3      42  [29, 40, 44, 48, 56]
173       3      51  [29, 39, 40, 48, 56]
174       3      59  [29, 39, 40, 44, 48]
175       3      61  [29, 39, 44, 48, 56]
176       3      68  [39, 40, 44, 48, 56]
177       3      99  [29, 39, 40, 44, 48]

In [568]:
edf[edf.source==1]

,source,target,intersect
0,1,2,"[2, 4, 18, 20, 25, 29, 31, 33, 34, 36, 40, 41, 51, 64, 81, 84, 86, 89, 91, 94, 95, 96, 99]"
1,1,4,"[1, 2, 4, 5, 6, 10, 15, 18, 20, 25, 30, 37, 38, 40, 44, 46, 49, 51, 53, 54, 55, 56, 71, 81, 82, 84, 86, 89, 91, 92, 96, 97]"
2,1,5,"[1, 2, 4, 6, 10, 12, 13, 15, 17, 20, 21, 22, 25, 29, 31, 37, 38, 46, 49, 52, 54, 55, 58, 64, 67, 70, 81, 82, 84, 89, 91, 92, 94, 95]"
3,1,6,"[4, 10, 22, 34, 41, 50, 51, 52, 53, 55, 67, 77, 80, 82, 83, 84, 92, 97]"
4,1,7,"[1, 7, 10, 13, 17, 22, 30, 31, 41, 44, 49, 50, 52, 56, 77, 80, 81, 84, 91, 94, 96, 97, 99]"
5,1,8,"[7, 13, 15, 29, 34, 51, 64, 91]"
6,1,10,"[2, 4, 6, 13, 20, 36, 37, 38, 46, 54, 55, 66, 71, 77, 79, 81, 86, 89, 92, 96, 97, 99]"
7,1,11,"[4, 5, 7, 30, 34, 40, 44, 46, 49, 50, 64, 66, 89, 95, 96, 97]"
8,1,12,"[1, 2, 4, 5, 6, 7, 10, 15, 17, 18, 22, 25, 31, 34, 36, 37, 41, 42, 55, 58, 64, 66, 67, 71, 79, 80, 82, 83, 89, 91, 97, 99]"
9,1,13,"[2, 5, 13, 18, 21, 29, 30, 34, 36, 38, 40, 42, 46, 51, 56, 82, 86, 95, 99]"
10,1,14,"[4, 12, 30, 34, 36, 41, 42, 44, 50, 51, 55, 56, 58, 67, 70, 79, 80, 83, 89, 91]"
11,1,15,"[4, 5, 7, 34, 41, 53]"
12,1,16,"[1, 6, 12, 17, 29, 30, 31, 33, 42, 49, 54, 55, 64, 66, 77, 79, 84, 86, 89, 91, 95]"
13,1,17,"[2, 4, 5, 10, 12, 17, 20, 21, 22, 31, 33, 36, 37, 38, 40, 41, 42, 46, 49, 51, 55, 64, 66, 71, 79, 81, 82, 83, 84, 86, 89, 92, 96, 99]"
14,1,18,"[2, 5, 6, 10, 13, 15, 22, 29, 30, 31, 33, 40, 41, 46, 50, 54, 66, 67, 70, 71, 77, 80, 81, 82, 92, 94, 96, 97, 99]"
15,1,19,"[2, 5, 7, 13, 15, 17, 18, 21, 22, 30, 31, 33, 34, 36, 40, 41, 42, 44, 46, 51, 53, 56, 58, 66, 77, 79, 80, 82, 83, 86, 89, 91, 92, 94, 96]"
16,1,20,"[1, 4, 12, 29, 31, 37, 40, 49, 54, 70, 81, 82, 84, 89, 92, 96, 99]"
17,1,22,"[2, 6, 15, 20, 21, 22, 31, 33, 36, 40, 42, 53, 83, 84, 89, 91, 95, 96]"
18,1,23,"[1, 6, 7, 13, 21, 22, 25, 30, 31, 36, 37, 40, 42, 46, 49, 50, 53, 54, 55, 56, 64, 67, 71, 77, 79, 80, 83, 89, 91, 92, 94, 97]"
19,1,24,"[1, 2, 4, 5, 10, 12, 13, 17, 21, 25, 34, 36, 37, 38, 40, 44, 49, 51, 52, 56, 64, 70, 79, 80, 81, 84, 86, 91, 94, 95, 96, 97, 99]"
20,1,25,"[4, 5, 6, 7, 12, 18, 21, 25, 29, 34, 36, 37, 38, 40, 41, 42, 46, 50, 51, 52, 56, 64, 67, 71, 79, 81, 83, 86, 89, 92, 97]"
21,1,26,"[22, 38, 54, 58, 67, 89, 95]"
22,1,27,"[31, 33, 55, 77, 83, 94, 95]"
23,1,28,"[1, 2, 4, 10, 12, 13, 15, 22, 30, 33, 37, 38, 41, 42, 44, 46, 50, 79, 80, 82, 83, 86, 89, 94, 95, 97, 99]"
24,1,30,"[1, 2, 4, 6, 10, 15, 20, 21, 33, 37, 38, 44, 49, 50, 53, 54, 55, 56, 64, 70, 79, 82, 84, 91, 92, 96]"
25,1,31,"[2, 4, 7, 12, 13, 17, 18, 20, 29, 30, 33, 36, 37, 38, 40, 42, 44, 46, 53, 54, 56, 66, 67, 70, 77, 80, 81, 82, 83, 84, 91, 92, 94, 95, 96]"
26,1,32,"[6, 12, 13, 17, 18, 25, 38, 44, 46, 70, 71, 81, 82]"
27,1,33,"[1, 4, 5, 10, 12, 13, 15, 17, 18, 20, 22, 25, 29, 31, 33, 36, 41, 44, 46, 49, 51, 53, 55, 56, 64, 67, 70, 71, 77, 79, 83, 94, 96, 97, 99]"
28,1,34,"[1, 2, 4, 7, 13, 15, 21, 22, 25, 29, 37, 40, 42, 49, 52, 53, 54, 58, 64, 70, 77, 79, 81, 84, 86, 97]"
29,1,35,"[1, 25, 31, 33, 37, 41, 42, 56, 66, 71, 79, 80, 82, 84, 89, 91, 92]"
...,...,...,...
56,1,66,"[2, 5, 7, 10, 17, 18, 20, 33, 36, 41, 49, 52, 53, 54, 55, 58, 67, 70, 80, 83, 86, 91, 94, 95, 96, 99]"
57,1,67,"[12, 13, 15, 18, 20, 25, 33, 34, 36, 37, 38, 40, 41, 46, 56, 64, 70, 80, 86, 91, 97]"
58,1,68,"[5, 7, 13, 18, 20, 21, 22, 30, 33, 40, 41, 42, 44, 49, 52, 56, 58, 66, 70, 77, 79, 81, 84, 86, 95, 96, 97]"
59,1,69,"[20, 33, 41, 91, 99]"
60,1,70,"[2, 5, 7, 10, 17, 18, 20, 22, 31, 33, 34, 36, 37, 40, 42, 51, 52, 53, 70, 77, 80, 81, 86, 91, 92, 96, 97, 99]"
61,1,72,"[5, 7, 15, 17, 18, 22, 25, 29, 30, 31, 33, 34, 37, 38, 41, 42, 44, 46, 51, 53, 54, 56, 58, 67, 70, 82, 84, 91, 94, 95, 96]"
62,1,73,"[18, 84, 89, 92, 99]"
63,1,74,"[2, 10, 40, 42, 51, 52, 67, 80]"
64,1,75,"[5, 13, 20, 25, 30, 42, 55, 56, 81, 94, 95, 97]"
65,1,76,"[6, 12, 30, 36, 50, 53, 66, 77, 91, 92, 97]"
66,1,77,"[2, 4, 5, 6, 7, 10, 17, 18, 22, 25, 30, 31, 34, 37, 38, 50, 52, 56, 58, 67, 70, 71, 77, 81, 82, 84, 89, 91, 92, 94, 95, 97, 99]"
67,1,78,"[2, 4, 5, 21, 22, 25, 36, 37, 38, 40, 49, 53, 54, 55, 67, 77, 79, 92, 95, 96, 99]"
68,1,79,"[4, 5, 7, 25, 31, 36, 44, 49, 52, 53, 55, 89, 92]"
69,1,80,"[1, 2, 4, 5, 7, 10, 13, 29, 31, 33, 34, 37, 38, 41, 42, 44, 46, 49, 52, 54, 56, 64, 66, 71, 77, 79, 81, 82, 83, 84, 89, 92, 96, 99]"
70,1,81,"[4, 5, 6, 7, 10, 13, 15, 17, 18, 25, 29, 30, 33, 34, 36, 37, 41, 42, 44, 46, 50, 53, 55, 64, 70, 77, 79, 83, 84, 86, 89, 92, 96, 97]"
71,1,82,"[1, 4, 5, 15, 34, 38, 44, 51, 52, 80, 83, 89]"
72,1,84,"[2, 4, 5, 6, 13, 30, 31, 52, 53, 55, 56, 64, 66, 67, 71, 91, 99]"
73,1,85,"[2, 4, 5, 7, 13, 18, 20, 29, 34, 36, 42, 44, 46, 49, 51, 54, 55, 66, 67, 77, 79, 81, 83, 84, 86, 91, 94, 97, 99]"
74,1,86,"[1, 6, 10, 12, 30, 33, 37, 40, 53, 58, 64, 67, 77, 79, 84, 89, 91, 92, 96]"
75,1,87,"[6, 7, 12, 15, 17, 21, 33, 34, 53, 56, 70, 71, 82, 83, 92, 94]"
76,1,90,"[1, 2, 34, 40, 46, 51, 54, 56, 64, 67, 82, 89, 91, 92, 95]"
77,1,91,"[21, 22, 29, 34, 52, 58, 82, 86, 92]"
78,1,92,"[15, 31, 36, 55, 58, 80, 82, 86]"
79,1,93,"[2, 5, 7, 17, 18, 21, 25, 30, 36, 37, 38, 40, 41, 42, 44, 53, 54, 64, 66, 67, 71, 81, 84, 86, 92, 96]"
80,1,94,"[1, 2, 5, 7, 10, 15, 17, 21, 29, 30, 34, 36, 37, 44, 49, 50, 79, 81, 84, 91, 96]"
81,1,95,"[4, 10, 22, 34, 38, 40, 51, 54, 58, 71, 81, 95]"
82,1,96,"[4, 17, 66, 71, 79, 82, 86, 99]"
83,1,98,"[2, 6, 10, 21, 30, 31, 34, 36, 51, 67, 83, 86, 89, 91, 95]"
84,1,99,"[2, 4, 5, 6, 7, 10, 13, 17, 18, 29, 31, 38, 40, 41, 42, 44, 46, 49, 50, 52, 55, 58, 67, 70, 77, 79, 80, 81, 82, 83, 84, 89, 94, 95, 96, 97]"
85,1,100,"[13, 15, 17, 21, 25, 55, 56, 64, 82, 84, 89, 97, 99]"

In [524]:
np.unique( np.concatenate ( ( cl.source.values,cl.target.values )  ) )

array([15, 16])

In [501]:
i not in col[0]

True

True

In [515]:
 not in cl[j]

KeyError: 0

In [480]:
edf=edf.append({'source':15,'target':16},ignore_index=True)

In [484]:
edf=edf[['source','target']].astype(int)

In [485]:
edf

    source  target
0        2       3
1        2       6
2        2       7
3        2       8
4        2      10
5        2      11
6        3       6
7        3      11
8        3      12
9        6       7
10       6       8
11       6      11
12       6      12
13       7      10
14       7      11
15       7      12
16       8      11
17      11      12
18      15      16

In [438]:
col=0
for j  in range( len([]) ):
    print(j)

In [427]:
i=3
if True:
    if i 
    cl=edf[edf.source==i]
    #col.append( np.unique( np.concatenate ( ( cl.source.values,cl.target.values )  ) ) )

In [431]:
3 in [[3,2]]

False

In [415]:
np.unique( np.concatenate( edf[edf.source==i].intersect.values ) )

array([ 1,  3,  4,  5,  7,  8,  9, 10, 11])

In [401]:
#df.to_csv('example_colegios.csv',index=False)

In [402]:
'''
# 'example_colegios.csv'
red               colegio 1             colegio 2
2
3,6,7,8,10,11 -> (2,3,6,7,8,10,11)      desconectados: 1,4,5,9,13
3 in colegio:
    True 
    6,11 True

    12 False -> (2,3,6,7,8,10,11,12)
6 in colegio:
    True
    7,8,11,12 True
7  in colegio:
    True:
    3,6,10,11,12 True

8 in colegio:
    True:
    11,12
    
... 
15 en colegio:
    False
    start colegio 3
'''

"\n# 'example_colegios.csv'\nred               colegio 1             colegio 2\n2\n3,6,7,8,10,11 -> (2,3,6,7,8,10,11)      desconectados: 4,5,9\n3 in colegio:\n    True \n    6,11 True\n\n    12 False -> (2,3,6,7,8,10,11,12)\n6 in colegio:\n    True\n    7,8,11,12 True\n7  in colegio:\n    True:\n    3,6,10,11,12 True\n\n8 in colegio:\n    True:\n    11,12\n    \n... \n15 en colegio:\n    False\n    start colegio 3\n"

In [403]:
ed

    source  target             intersect
0        1       2                [5, 8]
1        1       3                [5, 8]
2        1       6                   [5]
3        1       8                [5, 8]
4        1      10                   [8]
5        1      11                   [5]
6        1      12                   [5]
7        2       3   [3, 5, 7, 8, 9, 10]
8        2       5            [1, 3, 11]
9        2       6  [4, 5, 7, 9, 10, 11]
10       2       7     [1, 3, 4, 10, 11]
11       2       8      [4, 5, 7, 8, 11]
12       2       9                   [1]
13       2      10      [1, 3, 4, 8, 10]
14       2      11  [3, 4, 5, 7, 10, 11]
15       2      12            [3, 5, 10]
16       2      13                  [11]
17       3       5                   [3]
18       3       6     [5, 7, 9, 10, 12]
19       3       7           [3, 10, 12]
20       3       8             [5, 7, 8]
21       3      10            [3, 8, 10]
22       3      11         [3, 5, 7, 10]
23       3      12        [3, 5, 10, 12]
24       4       6                   [2]
25       4       7                   [2]
26       4       8                   [2]
27       4      12                   [2]
28       5       6                  [11]
29       5       7            [1, 3, 11]
30       5       8               [6, 11]
31       5       9                   [1]
32       5      10                [1, 3]
33       5      11            [3, 6, 11]
34       5      12                [3, 6]
35       5      13                  [11]
36       6       7    [2, 4, 10, 11, 12]
37       6       8      [2, 4, 5, 7, 11]
38       6      10               [4, 10]
39       6      11     [4, 5, 7, 10, 11]
40       6      12        [2, 5, 10, 12]
41       6      13                  [11]
42       7       8            [2, 4, 11]
43       7       9                   [1]
44       7      10         [1, 3, 4, 10]
45       7      11        [3, 4, 10, 11]
46       7      12        [2, 3, 10, 12]
47       7      13                  [11]
48       8      10                [4, 8]
49       8      11      [4, 5, 6, 7, 11]
50       8      12             [2, 5, 6]
51       8      13                  [11]
52       9      10                   [1]
53      10      11            [3, 4, 10]
54      10      12               [3, 10]
55      11      12         [3, 5, 6, 10]
56      11      13                  [11]

In [377]:
if True:
    i=2
    #remove i=2
    df_not_i=df.drop(df.index[[i]])
    df_not_i['intersect']=df_not_i.references.map(lambda x: check_intersect1d(x,df.loc[i,'references']))
    df_not_i=df_not_i[df_not_i.intersect.map(len)>0]
    df_not_i=df_not_i.rename_axis({'recid':'target'}, axis = 'columns')
    df_not_i['source']=df.loc[i,'recid']
    # switch source, target order and remove if already in edges
    df_not_i=df_not_i[ ( df_not_i.target.map( lambda x: [x] )+df_not_i.source.map( lambda x: [x] )
          ).map(lambda x: check_not_ref(x,edges) )]    
    
    # list of edges: [ [source, target],... ]
    edges=edges+np.stack(( df_not_i.source.values,df_not_i.target.values),axis=1 ).tolist()    
    #Store Edges DataFrame
    ed=ed.append( df_not_i[['source','target','intersect']] ).reset_index(drop=True)

ed

    source  target             intersect
0        1       2                [5, 8]
1        1       3                [5, 8]
2        1       6                   [5]
3        1       8                [5, 8]
4        1      10                   [8]
5        1      11                   [5]
6        1      12                   [5]
7        2       3   [3, 5, 7, 8, 9, 10]
8        2       5            [1, 3, 11]
9        2       6  [4, 5, 7, 9, 10, 11]
10       2       7     [1, 3, 4, 10, 11]
11       2       8      [4, 5, 7, 8, 11]
12       2       9                   [1]
13       2      10      [1, 3, 4, 8, 10]
14       2      11  [3, 4, 5, 7, 10, 11]
15       2      12            [3, 5, 10]
16       2      13                  [11]
17       3       5                   [3]
18       3       6     [5, 7, 9, 10, 12]
19       3       7           [3, 10, 12]
20       3       8             [5, 7, 8]
21       3      10            [3, 8, 10]
22       3      11         [3, 5, 7, 10]
23       3      12        [3, 5, 10, 12]

In [366]:
edges

[[1, 2],
 [1, 3],
 [1, 6],
 [1, 8],
 [1, 10],
 [1, 11],
 [1, 12],
 [2, 3],
 [2, 5],
 [2, 6],
 [2, 7],
 [2, 8],
 [2, 9],
 [2, 10],
 [2, 11],
 [2, 12],
 [2, 13]]

,target,references,intersect,source,ST
2,3,"[3, 5, 7, 8, 9, 10, 12]","[3, 5, 7, 8, 9, 10]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
4,5,"[1, 3, 6, 11]","[1, 3, 11]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
5,6,"[2, 4, 5, 7, 9, 10, 11, 12]","[4, 5, 7, 9, 10, 11]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
6,7,"[1, 2, 3, 4, 10, 11, 12]","[1, 3, 4, 10, 11]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
7,8,"[2, 4, 5, 6, 7, 8, 11]","[4, 5, 7, 8, 11]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
8,9,[1],[1],2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
9,10,"[1, 3, 4, 8, 10]","[1, 3, 4, 8, 10]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
10,11,"[3, 4, 5, 6, 7, 10, 11]","[3, 4, 5, 7, 10, 11]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
11,12,"[2, 3, 5, 6, 10, 12]","[3, 5, 10]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
12,13,[11],[11],2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"

In [318]:
(df_not_i.target.astype(str)+'::'+df_not_i.source.astype(str) ).str.split('::')

SyntaxError: unexpected EOF while parsing (<ipython-input-318-823e03b869c7>, line 1)

In [312]:
( df_not_i.target.astype(str)+'::'+df_not_i.source.astype(str) ).str.split('::').values

array([list(['1', '2']), list(['3', '2']), list(['5', '2']),
       list(['6', '2']), list(['7', '2']), list(['8', '2']),
       list(['9', '2']), list(['10', '2']), list(['11', '2']),
       list(['12', '2']), list(['13', '2'])], dtype=object)

In [308]:
def check_ref(x,ref):
    return x in ref
( df_not_i.target.astype(str)+'::'+df_not_i.source.astype(str) ).str.split('::').map(lambda x: check_ref(x,[[1,2]] ))
           #np.stack(( ed.source.values,ed.target.values),axis=1 )          ))

0     False
2     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
dtype: bool

In [310]:
check_ref([1,2] , [[1,2]])

True

In [287]:
df_not_i.assign(  TS= pd.Series( {'TS':np.stack(( df_not_i.target.values,df_not_i.source.values),axis=1 )}).values )

ValueError: Length of values does not match length of index

In [242]:
1+1

2

In [240]:
np.stack?