# AnÃ¡lisis de datos

Para generar las slides use:

In [30]:
%%bash
jupyter nbconvert ALL_inspire.ipynb --to slides --reveal-prefix "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.1.0"

[NbConvertApp] Converting notebook ALL_inspire.ipynb to slides
[NbConvertApp] Writing 273514 bytes to ALL_inspire.slides.html

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_colwidth',200)

Download from [here](https://drive.google.com/file/d/1NtocdsxbTky5uLmKp3eDoGcQG7qsTEYv/view?usp=sharing)

In [2]:
df=pd.read_json('hep_records.json',lines=True)

In [3]:
df.shape

(1271720, 10)

In [6]:
dfr_full=df[df.references.map(len)>0].reset_index(drop=True)

In [7]:
dfr=dfr_full.sample(10000).reset_index(drop=True)

def check_ref(x,ref):
    return x in ref

def check_intersect1d(x,y):
    return np.intersect1d(x,y)

i=20
dfr.loc[i,'references']

np.equal?

dfr=dfr.drop_duplicates(['title']).reset_index(drop=True)

dfr[ dfr.references.astype(str)==str(dfr.loc[i,'references']) ]

dfr['intersect']=dfr.references.map(lambda x: check_intersect1d(x,dfr.loc[i,'references'])).map(len)



i

dfr.loc[i,'title']

dfr.loc[i,'recid']

rslt=dfr[dfr.intersect>4].drop( dfr.index[[i]] )
rslt['node']=dfr.loc[i,'recid']

rslt['node']=dfr.loc[i,'recid']

In [25]:
# df.to_excel('kk.xlsx',index=False)

n=100
df=pd.DataFrame({'recid':np.arange(1,n+1)  })
l=[]
for i in df.index:
    #print(i)
    l.append(np.random.randint(1,df.recid.max(),np.random.randint(1,df.recid.max())))
    
df['references']=l
df['references']=df.references.map(np.unique)
df[:2]

In [8]:
df=dfr.copy()

In [20]:
def check_intersect1d(x,y):
    return np.intersect1d(x,y)

def check_not_ref(x,ref):
    return x not in ref

df=df.sort_values('recid').reset_index(drop=True)

ed=pd.DataFrame()
edges=[]

In [21]:
import time

In [ ]:
s=time.time()
Nmin=4
#DEBUG========
#if True:
#    i=0
for i in df.index:
#=============    
    #remove i
    #===log===
    f=open('kk.log','a')
    f.write('{}\n'.format(i))
    f.close()
    #=======
    print(i,end='\r')
    df_not_i=df.drop(df.index[[i]])
    df_not_i['intersect']=df_not_i.references.map(lambda x: check_intersect1d(x,df.loc[i,'references']))
    df_not_i=df_not_i[df_not_i.intersect.map(len)>Nmin]
    df_not_i=df_not_i.rename_axis({'recid':'target'}, axis = 'columns')
    df_not_i['source']=df.loc[i,'recid']
    # switch source, target order and remove if already in edges
    df_not_i=df_not_i[ ( df_not_i.target.map( lambda x: [x] )+df_not_i.source.map( lambda x: [x] )
          ).map(lambda x: check_not_ref(x,edges) )]        
    # list of edges: [ [source, target],... ]
    try:
        edges=edges+np.stack(( df_not_i.source.values,df_not_i.target.values),axis=1 ).tolist()
        #Store Edges DataFrame
        ed=ed.append( df_not_i[['source','target','intersect']] ).reset_index(drop=True)
    except AttributeError:
        f=open('DEBUG','a')
        f.write('{}\n'.format(i))
        f.close()
        

print(time.time()-s)

In [40]:
#rm DEBUG

In [24]:
ed.shape

(258600, 3)

In [27]:
len( edges )

258600

In [30]:
kk=ed[ed.intersect.map(len)>4]

In [34]:
kk.shape

(9277, 3)

In [37]:
kk.drop_duplicates(['source','target'])[-10:]

,source,target,intersect
258215,893812,1083623,"[399009, 645666, 666221, 750597, 792157]"
258264,893887,1344291,"[344376, 586746, 617287, 644478, 724663, 790952, 806293]"
258326,894076,1227984,"[4328, 51188, 119585, 393084, 393099]"
258328,894076,1231053,"[4328, 11883, 40208, 51188, 393084, 393099, 796887]"
258360,894076,1339957,"[4328, 11883, 40208, 51188, 1614070]"
258363,894076,1346600,"[4328, 11883, 51188, 119585, 393084, 393099]"
258381,894076,1429549,"[4328, 11883, 51188, 119585, 393084, 393099, 713909, 796887]"
258404,894076,1605397,"[455671, 713909, 796887, 1614057, 1614070]"
258412,894076,1657128,"[4328, 11883, 51188, 393084, 537586, 796887]"
258549,894529,1357569,"[412894, 441035, 520945, 832459, 865383, 865635]"

Fix edge

In [551]:
edf=ed[ed.intersect.map(len)>4].reset_index(drop=True)
edf[:3]

,source,target,intersect
0,1,2,"[2, 4, 18, 20, 25, 29, 31, 33, 34, 36, 40, 41, 51, 64, 81, 84, 86, 89, 91, 94, 95, 96, 99]"
1,1,4,"[1, 2, 4, 5, 6, 10, 15, 18, 20, 25, 30, 37, 38, 40, 44, 46, 49, 51, 53, 54, 55, 56, 71, 81, 82, 84, 86, 89, 91, 92, 96, 97]"
2,1,5,"[1, 2, 4, 6, 10, 12, 13, 15, 17, 20, 21, 22, 25, 29, 31, 37, 38, 46, 49, 52, 54, 55, 58, 64, 67, 70, 81, 82, 84, 89, 91, 92, 94, 95]"

In [552]:
edf

,source,target,intersect
0,1,2,"[2, 4, 18, 20, 25, 29, 31, 33, 34, 36, 40, 41, 51, 64, 81, 84, 86, 89, 91, 94, 95, 96, 99]"
1,1,4,"[1, 2, 4, 5, 6, 10, 15, 18, 20, 25, 30, 37, 38, 40, 44, 46, 49, 51, 53, 54, 55, 56, 71, 81, 82, 84, 86, 89, 91, 92, 96, 97]"
2,1,5,"[1, 2, 4, 6, 10, 12, 13, 15, 17, 20, 21, 22, 25, 29, 31, 37, 38, 46, 49, 52, 54, 55, 58, 64, 67, 70, 81, 82, 84, 89, 91, 92, 94, 95]"
3,1,6,"[4, 10, 22, 34, 41, 50, 51, 52, 53, 55, 67, 77, 80, 82, 83, 84, 92, 97]"
4,1,7,"[1, 7, 10, 13, 17, 22, 30, 31, 41, 44, 49, 50, 52, 56, 77, 80, 81, 84, 91, 94, 96, 97, 99]"
5,1,8,"[7, 13, 15, 29, 34, 51, 64, 91]"
6,1,10,"[2, 4, 6, 13, 20, 36, 37, 38, 46, 54, 55, 66, 71, 77, 79, 81, 86, 89, 92, 96, 97, 99]"
7,1,11,"[4, 5, 7, 30, 34, 40, 44, 46, 49, 50, 64, 66, 89, 95, 96, 97]"
8,1,12,"[1, 2, 4, 5, 6, 7, 10, 15, 17, 18, 22, 25, 31, 34, 36, 37, 41, 42, 55, 58, 64, 66, 67, 71, 79, 80, 82, 83, 89, 91, 97, 99]"
9,1,13,"[2, 5, 13, 18, 21, 29, 30, 34, 36, 38, 40, 42, 46, 51, 56, 82, 86, 95, 99]"
10,1,14,"[4, 12, 30, 34, 36, 41, 42, 44, 50, 51, 55, 56, 58, 67, 70, 79, 80, 83, 89, 91]"
11,1,15,"[4, 5, 7, 34, 41, 53]"
12,1,16,"[1, 6, 12, 17, 29, 30, 31, 33, 42, 49, 54, 55, 64, 66, 77, 79, 84, 86, 89, 91, 95]"
13,1,17,"[2, 4, 5, 10, 12, 17, 20, 21, 22, 31, 33, 36, 37, 38, 40, 41, 42, 46, 49, 51, 55, 64, 66, 71, 79, 81, 82, 83, 84, 86, 89, 92, 96, 99]"
14,1,18,"[2, 5, 6, 10, 13, 15, 22, 29, 30, 31, 33, 40, 41, 46, 50, 54, 66, 67, 70, 71, 77, 80, 81, 82, 92, 94, 96, 97, 99]"
15,1,19,"[2, 5, 7, 13, 15, 17, 18, 21, 22, 30, 31, 33, 34, 36, 40, 41, 42, 44, 46, 51, 53, 56, 58, 66, 77, 79, 80, 82, 83, 86, 89, 91, 92, 94, 96]"
16,1,20,"[1, 4, 12, 29, 31, 37, 40, 49, 54, 70, 81, 82, 84, 89, 92, 96, 99]"
17,1,22,"[2, 6, 15, 20, 21, 22, 31, 33, 36, 40, 42, 53, 83, 84, 89, 91, 95, 96]"
18,1,23,"[1, 6, 7, 13, 21, 22, 25, 30, 31, 36, 37, 40, 42, 46, 49, 50, 53, 54, 55, 56, 64, 67, 71, 77, 79, 80, 83, 89, 91, 92, 94, 97]"
19,1,24,"[1, 2, 4, 5, 10, 12, 13, 17, 21, 25, 34, 36, 37, 38, 40, 44, 49, 51, 52, 56, 64, 70, 79, 80, 81, 84, 86, 91, 94, 95, 96, 97, 99]"
20,1,25,"[4, 5, 6, 7, 12, 18, 21, 25, 29, 34, 36, 37, 38, 40, 41, 42, 46, 50, 51, 52, 56, 64, 67, 71, 79, 81, 83, 86, 89, 92, 97]"
21,1,26,"[22, 38, 54, 58, 67, 89, 95]"
22,1,27,"[31, 33, 55, 77, 83, 94, 95]"
23,1,28,"[1, 2, 4, 10, 12, 13, 15, 22, 30, 33, 37, 38, 41, 42, 44, 46, 50, 79, 80, 82, 83, 86, 89, 94, 95, 97, 99]"
24,1,30,"[1, 2, 4, 6, 10, 15, 20, 21, 33, 37, 38, 44, 49, 50, 53, 54, 55, 56, 64, 70, 79, 82, 84, 91, 92, 96]"
25,1,31,"[2, 4, 7, 12, 13, 17, 18, 20, 29, 30, 33, 36, 37, 38, 40, 42, 44, 46, 53, 54, 56, 66, 67, 70, 77, 80, 81, 82, 83, 84, 91, 92, 94, 95, 96]"
26,1,32,"[6, 12, 13, 17, 18, 25, 38, 44, 46, 70, 71, 81, 82]"
27,1,33,"[1, 4, 5, 10, 12, 13, 15, 17, 18, 20, 22, 25, 29, 31, 33, 36, 41, 44, 46, 49, 51, 53, 55, 56, 64, 67, 70, 71, 77, 79, 83, 94, 96, 97, 99]"
28,1,34,"[1, 2, 4, 7, 13, 15, 21, 22, 25, 29, 37, 40, 42, 49, 52, 53, 54, 58, 64, 70, 77, 79, 81, 84, 86, 97]"
29,1,35,"[1, 25, 31, 33, 37, 41, 42, 56, 66, 71, 79, 80, 82, 84, 89, 91, 92]"
...,...,...,...
3218,87,100,"[14, 15, 17, 21, 56, 63, 74, 82]"
3219,90,91,"[11, 34, 60, 82, 92]"
3220,90,93,"[2, 27, 40, 54, 64, 67, 73, 92]"
3221,90,94,"[1, 2, 11, 34, 39, 88, 91]"
3222,90,95,"[11, 27, 34, 40, 51, 54, 60, 88, 95]"
3223,90,98,"[2, 11, 34, 51, 67, 89, 91, 95]"
3224,90,99,"[2, 27, 35, 39, 40, 46, 60, 67, 76, 82, 89, 95]"
3225,91,95,"[11, 22, 34, 58, 60]"
3226,91,98,"[11, 21, 34, 74, 86]"
3227,91,99,"[8, 29, 52, 58, 60, 74, 82]"
3228,92,98,"[31, 36, 62, 65, 86]"
3229,92,99,"[31, 43, 45, 55, 58, 59, 62, 80, 82]"
3230,93,94,"[2, 5, 7, 17, 21, 30, 36, 37, 44, 63, 68, 81, 84, 96]"
3231,93,95,"[19, 27, 38, 40, 47, 48, 54, 61, 71, 81]"
3232,93,96,"[17, 19, 61, 66, 71, 86]"
3233,93,98,"[2, 21, 30, 36, 47, 65, 67, 74, 86]"
3234,93,99,"[2, 5, 7, 17, 18, 19, 27, 38, 40, 41, 42, 44, 47, 48, 59, 61, 67, 68, 69, 74, 81, 84, 96]"
3235,93,100,"[17, 21, 25, 47, 48, 63, 64, 74, 84]"
3236,94,95,"[10, 11, 24, 34, 81, 88]"
3237,94,96,"[9, 17, 39, 43, 62, 79, 88]"
3238,94,98,"[2, 10, 11, 21, 30, 34, 36, 62, 91, 98]"
3239,94,99,"[2, 5, 7, 10, 17, 29, 39, 43, 44, 49, 50, 62, 68, 79, 81, 84, 96, 98]"
3240,94,100,"[15, 17, 21, 24, 63, 84]"
3241,95,96,"[4, 19, 61, 71, 87, 88]"
3242,95,98,"[10, 11, 34, 47, 51, 95]"
3243,95,99,"[4, 10, 19, 27, 38, 40, 47, 48, 58, 60, 61, 81, 95]"
3244,96,99,"[3, 4, 17, 19, 35, 39, 43, 61, 62, 79, 82]"
3245,96,100,"[3, 14, 17, 82, 99]"
3246,98,99,"[2, 6, 10, 31, 47, 62, 67, 74, 83, 89, 95, 98]"
3247,99,100,"[3, 13, 17, 28, 47, 48, 55, 74, 82, 84, 89, 97]"

In [8]:
import numpy as np

In [9]:
import pandas as pd

In [16]:
edf=pd.DataFrame({'source':[1,1,2,2],'target':[4,6,3,5]})
edf

   source  target
0       1       4
1       1       6
2       2       3
3       2       5

In [17]:
colegios=pd.DataFrame()
j=0
col={}
col[j]=[]

In [18]:
#i=3
#if True:
for i in edf.source.unique():
    #print(i)
    if True:
        if not i in col[j]: # new colegio!
            cl=edf[edf.source==i]
            # TODO loop in target
            if cl.target.values[0] not in col[j]: # neither source not target in old colegio:
                j=i
                col[j] =list( np.unique( np.concatenate ( ( cl.source.values,cl.target.values )  ) )  )
            else:
                col[j].append(i)

In [26]:
col.keys()

dict_keys([0, 1, 2])

In [31]:
cdf=pd.DataFrame()
cdf['colegios']=pd.Series(col)
cdf['source']=col.keys()
edf=edf.merge(cdf,on='source',how='left')

In [32]:
edf

   source  target   colegios
0       1       4  [1, 4, 6]
1       1       6  [1, 4, 6]
2       2       3  [2, 3, 5]
3       2       5  [2, 3, 5]

In [22]:
for i col.

{0: [], 1: [1, 4, 6], 2: [2, 3, 5]}

In [21]:
pd.DataFrame(col)

ValueError: arrays must all be same length

In [590]:
cl.source.values[0]

3

In [585]:
4 not in col[1]

False

In [580]:
cl=edf[edf.source==i]
cl

     source  target             intersect
168       3       4  [39, 40, 44, 48, 56]
169       3      25  [29, 39, 40, 48, 56]
170       3      31  [29, 39, 40, 44, 56]
171       3      33  [29, 39, 44, 48, 56]
172       3      42  [29, 40, 44, 48, 56]
173       3      51  [29, 39, 40, 48, 56]
174       3      59  [29, 39, 40, 44, 48]
175       3      61  [29, 39, 44, 48, 56]
176       3      68  [39, 40, 44, 48, 56]
177       3      99  [29, 39, 40, 44, 48]

In [568]:
edf[edf.source==1]

,source,target,intersect
0,1,2,"[2, 4, 18, 20, 25, 29, 31, 33, 34, 36, 40, 41, 51, 64, 81, 84, 86, 89, 91, 94, 95, 96, 99]"
1,1,4,"[1, 2, 4, 5, 6, 10, 15, 18, 20, 25, 30, 37, 38, 40, 44, 46, 49, 51, 53, 54, 55, 56, 71, 81, 82, 84, 86, 89, 91, 92, 96, 97]"
2,1,5,"[1, 2, 4, 6, 10, 12, 13, 15, 17, 20, 21, 22, 25, 29, 31, 37, 38, 46, 49, 52, 54, 55, 58, 64, 67, 70, 81, 82, 84, 89, 91, 92, 94, 95]"
3,1,6,"[4, 10, 22, 34, 41, 50, 51, 52, 53, 55, 67, 77, 80, 82, 83, 84, 92, 97]"
4,1,7,"[1, 7, 10, 13, 17, 22, 30, 31, 41, 44, 49, 50, 52, 56, 77, 80, 81, 84, 91, 94, 96, 97, 99]"
5,1,8,"[7, 13, 15, 29, 34, 51, 64, 91]"
6,1,10,"[2, 4, 6, 13, 20, 36, 37, 38, 46, 54, 55, 66, 71, 77, 79, 81, 86, 89, 92, 96, 97, 99]"
7,1,11,"[4, 5, 7, 30, 34, 40, 44, 46, 49, 50, 64, 66, 89, 95, 96, 97]"
8,1,12,"[1, 2, 4, 5, 6, 7, 10, 15, 17, 18, 22, 25, 31, 34, 36, 37, 41, 42, 55, 58, 64, 66, 67, 71, 79, 80, 82, 83, 89, 91, 97, 99]"
9,1,13,"[2, 5, 13, 18, 21, 29, 30, 34, 36, 38, 40, 42, 46, 51, 56, 82, 86, 95, 99]"
10,1,14,"[4, 12, 30, 34, 36, 41, 42, 44, 50, 51, 55, 56, 58, 67, 70, 79, 80, 83, 89, 91]"
11,1,15,"[4, 5, 7, 34, 41, 53]"
12,1,16,"[1, 6, 12, 17, 29, 30, 31, 33, 42, 49, 54, 55, 64, 66, 77, 79, 84, 86, 89, 91, 95]"
13,1,17,"[2, 4, 5, 10, 12, 17, 20, 21, 22, 31, 33, 36, 37, 38, 40, 41, 42, 46, 49, 51, 55, 64, 66, 71, 79, 81, 82, 83, 84, 86, 89, 92, 96, 99]"
14,1,18,"[2, 5, 6, 10, 13, 15, 22, 29, 30, 31, 33, 40, 41, 46, 50, 54, 66, 67, 70, 71, 77, 80, 81, 82, 92, 94, 96, 97, 99]"
15,1,19,"[2, 5, 7, 13, 15, 17, 18, 21, 22, 30, 31, 33, 34, 36, 40, 41, 42, 44, 46, 51, 53, 56, 58, 66, 77, 79, 80, 82, 83, 86, 89, 91, 92, 94, 96]"
16,1,20,"[1, 4, 12, 29, 31, 37, 40, 49, 54, 70, 81, 82, 84, 89, 92, 96, 99]"
17,1,22,"[2, 6, 15, 20, 21, 22, 31, 33, 36, 40, 42, 53, 83, 84, 89, 91, 95, 96]"
18,1,23,"[1, 6, 7, 13, 21, 22, 25, 30, 31, 36, 37, 40, 42, 46, 49, 50, 53, 54, 55, 56, 64, 67, 71, 77, 79, 80, 83, 89, 91, 92, 94, 97]"
19,1,24,"[1, 2, 4, 5, 10, 12, 13, 17, 21, 25, 34, 36, 37, 38, 40, 44, 49, 51, 52, 56, 64, 70, 79, 80, 81, 84, 86, 91, 94, 95, 96, 97, 99]"
20,1,25,"[4, 5, 6, 7, 12, 18, 21, 25, 29, 34, 36, 37, 38, 40, 41, 42, 46, 50, 51, 52, 56, 64, 67, 71, 79, 81, 83, 86, 89, 92, 97]"
21,1,26,"[22, 38, 54, 58, 67, 89, 95]"
22,1,27,"[31, 33, 55, 77, 83, 94, 95]"
23,1,28,"[1, 2, 4, 10, 12, 13, 15, 22, 30, 33, 37, 38, 41, 42, 44, 46, 50, 79, 80, 82, 83, 86, 89, 94, 95, 97, 99]"
24,1,30,"[1, 2, 4, 6, 10, 15, 20, 21, 33, 37, 38, 44, 49, 50, 53, 54, 55, 56, 64, 70, 79, 82, 84, 91, 92, 96]"
25,1,31,"[2, 4, 7, 12, 13, 17, 18, 20, 29, 30, 33, 36, 37, 38, 40, 42, 44, 46, 53, 54, 56, 66, 67, 70, 77, 80, 81, 82, 83, 84, 91, 92, 94, 95, 96]"
26,1,32,"[6, 12, 13, 17, 18, 25, 38, 44, 46, 70, 71, 81, 82]"
27,1,33,"[1, 4, 5, 10, 12, 13, 15, 17, 18, 20, 22, 25, 29, 31, 33, 36, 41, 44, 46, 49, 51, 53, 55, 56, 64, 67, 70, 71, 77, 79, 83, 94, 96, 97, 99]"
28,1,34,"[1, 2, 4, 7, 13, 15, 21, 22, 25, 29, 37, 40, 42, 49, 52, 53, 54, 58, 64, 70, 77, 79, 81, 84, 86, 97]"
29,1,35,"[1, 25, 31, 33, 37, 41, 42, 56, 66, 71, 79, 80, 82, 84, 89, 91, 92]"
...,...,...,...
56,1,66,"[2, 5, 7, 10, 17, 18, 20, 33, 36, 41, 49, 52, 53, 54, 55, 58, 67, 70, 80, 83, 86, 91, 94, 95, 96, 99]"
57,1,67,"[12, 13, 15, 18, 20, 25, 33, 34, 36, 37, 38, 40, 41, 46, 56, 64, 70, 80, 86, 91, 97]"
58,1,68,"[5, 7, 13, 18, 20, 21, 22, 30, 33, 40, 41, 42, 44, 49, 52, 56, 58, 66, 70, 77, 79, 81, 84, 86, 95, 96, 97]"
59,1,69,"[20, 33, 41, 91, 99]"
60,1,70,"[2, 5, 7, 10, 17, 18, 20, 22, 31, 33, 34, 36, 37, 40, 42, 51, 52, 53, 70, 77, 80, 81, 86, 91, 92, 96, 97, 99]"
61,1,72,"[5, 7, 15, 17, 18, 22, 25, 29, 30, 31, 33, 34, 37, 38, 41, 42, 44, 46, 51, 53, 54, 56, 58, 67, 70, 82, 84, 91, 94, 95, 96]"
62,1,73,"[18, 84, 89, 92, 99]"
63,1,74,"[2, 10, 40, 42, 51, 52, 67, 80]"
64,1,75,"[5, 13, 20, 25, 30, 42, 55, 56, 81, 94, 95, 97]"
65,1,76,"[6, 12, 30, 36, 50, 53, 66, 77, 91, 92, 97]"
66,1,77,"[2, 4, 5, 6, 7, 10, 17, 18, 22, 25, 30, 31, 34, 37, 38, 50, 52, 56, 58, 67, 70, 71, 77, 81, 82, 84, 89, 91, 92, 94, 95, 97, 99]"
67,1,78,"[2, 4, 5, 21, 22, 25, 36, 37, 38, 40, 49, 53, 54, 55, 67, 77, 79, 92, 95, 96, 99]"
68,1,79,"[4, 5, 7, 25, 31, 36, 44, 49, 52, 53, 55, 89, 92]"
69,1,80,"[1, 2, 4, 5, 7, 10, 13, 29, 31, 33, 34, 37, 38, 41, 42, 44, 46, 49, 52, 54, 56, 64, 66, 71, 77, 79, 81, 82, 83, 84, 89, 92, 96, 99]"
70,1,81,"[4, 5, 6, 7, 10, 13, 15, 17, 18, 25, 29, 30, 33, 34, 36, 37, 41, 42, 44, 46, 50, 53, 55, 64, 70, 77, 79, 83, 84, 86, 89, 92, 96, 97]"
71,1,82,"[1, 4, 5, 15, 34, 38, 44, 51, 52, 80, 83, 89]"
72,1,84,"[2, 4, 5, 6, 13, 30, 31, 52, 53, 55, 56, 64, 66, 67, 71, 91, 99]"
73,1,85,"[2, 4, 5, 7, 13, 18, 20, 29, 34, 36, 42, 44, 46, 49, 51, 54, 55, 66, 67, 77, 79, 81, 83, 84, 86, 91, 94, 97, 99]"
74,1,86,"[1, 6, 10, 12, 30, 33, 37, 40, 53, 58, 64, 67, 77, 79, 84, 89, 91, 92, 96]"
75,1,87,"[6, 7, 12, 15, 17, 21, 33, 34, 53, 56, 70, 71, 82, 83, 92, 94]"
76,1,90,"[1, 2, 34, 40, 46, 51, 54, 56, 64, 67, 82, 89, 91, 92, 95]"
77,1,91,"[21, 22, 29, 34, 52, 58, 82, 86, 92]"
78,1,92,"[15, 31, 36, 55, 58, 80, 82, 86]"
79,1,93,"[2, 5, 7, 17, 18, 21, 25, 30, 36, 37, 38, 40, 41, 42, 44, 53, 54, 64, 66, 67, 71, 81, 84, 86, 92, 96]"
80,1,94,"[1, 2, 5, 7, 10, 15, 17, 21, 29, 30, 34, 36, 37, 44, 49, 50, 79, 81, 84, 91, 96]"
81,1,95,"[4, 10, 22, 34, 38, 40, 51, 54, 58, 71, 81, 95]"
82,1,96,"[4, 17, 66, 71, 79, 82, 86, 99]"
83,1,98,"[2, 6, 10, 21, 30, 31, 34, 36, 51, 67, 83, 86, 89, 91, 95]"
84,1,99,"[2, 4, 5, 6, 7, 10, 13, 17, 18, 29, 31, 38, 40, 41, 42, 44, 46, 49, 50, 52, 55, 58, 67, 70, 77, 79, 80, 81, 82, 83, 84, 89, 94, 95, 96, 97]"
85,1,100,"[13, 15, 17, 21, 25, 55, 56, 64, 82, 84, 89, 97, 99]"

In [524]:
np.unique( np.concatenate ( ( cl.source.values,cl.target.values )  ) )

array([15, 16])

In [501]:
i not in col[0]

True

True

In [515]:
 not in cl[j]

KeyError: 0

In [480]:
edf=edf.append({'source':15,'target':16},ignore_index=True)

In [484]:
edf=edf[['source','target']].astype(int)

In [485]:
edf

    source  target
0        2       3
1        2       6
2        2       7
3        2       8
4        2      10
5        2      11
6        3       6
7        3      11
8        3      12
9        6       7
10       6       8
11       6      11
12       6      12
13       7      10
14       7      11
15       7      12
16       8      11
17      11      12
18      15      16

In [438]:
col=0
for j  in range( len([]) ):
    print(j)

In [427]:
i=3
if True:
    if i 
    cl=edf[edf.source==i]
    #col.append( np.unique( np.concatenate ( ( cl.source.values,cl.target.values )  ) ) )

In [431]:
3 in [[3,2]]

False

In [415]:
np.unique( np.concatenate( edf[edf.source==i].intersect.values ) )

array([ 1,  3,  4,  5,  7,  8,  9, 10, 11])

In [401]:
#df.to_csv('example_colegios.csv',index=False)

In [402]:
'''
# 'example_colegios.csv'
red               colegio 1             colegio 2
2
3,6,7,8,10,11 -> (2,3,6,7,8,10,11)      desconectados: 1,4,5,9,13
3 in colegio:
    True 
    6,11 True

    12 False -> (2,3,6,7,8,10,11,12)
6 in colegio:
    True
    7,8,11,12 True
7  in colegio:
    True:
    3,6,10,11,12 True

8 in colegio:
    True:
    11,12
    
... 
15 en colegio:
    False
    start colegio 3
'''

"\n# 'example_colegios.csv'\nred               colegio 1             colegio 2\n2\n3,6,7,8,10,11 -> (2,3,6,7,8,10,11)      desconectados: 4,5,9\n3 in colegio:\n    True \n    6,11 True\n\n    12 False -> (2,3,6,7,8,10,11,12)\n6 in colegio:\n    True\n    7,8,11,12 True\n7  in colegio:\n    True:\n    3,6,10,11,12 True\n\n8 in colegio:\n    True:\n    11,12\n    \n... \n15 en colegio:\n    False\n    start colegio 3\n"

In [403]:
ed

    source  target             intersect
0        1       2                [5, 8]
1        1       3                [5, 8]
2        1       6                   [5]
3        1       8                [5, 8]
4        1      10                   [8]
5        1      11                   [5]
6        1      12                   [5]
7        2       3   [3, 5, 7, 8, 9, 10]
8        2       5            [1, 3, 11]
9        2       6  [4, 5, 7, 9, 10, 11]
10       2       7     [1, 3, 4, 10, 11]
11       2       8      [4, 5, 7, 8, 11]
12       2       9                   [1]
13       2      10      [1, 3, 4, 8, 10]
14       2      11  [3, 4, 5, 7, 10, 11]
15       2      12            [3, 5, 10]
16       2      13                  [11]
17       3       5                   [3]
18       3       6     [5, 7, 9, 10, 12]
19       3       7           [3, 10, 12]
20       3       8             [5, 7, 8]
21       3      10            [3, 8, 10]
22       3      11         [3, 5, 7, 10]
23       3      12        [3, 5, 10, 12]
24       4       6                   [2]
25       4       7                   [2]
26       4       8                   [2]
27       4      12                   [2]
28       5       6                  [11]
29       5       7            [1, 3, 11]
30       5       8               [6, 11]
31       5       9                   [1]
32       5      10                [1, 3]
33       5      11            [3, 6, 11]
34       5      12                [3, 6]
35       5      13                  [11]
36       6       7    [2, 4, 10, 11, 12]
37       6       8      [2, 4, 5, 7, 11]
38       6      10               [4, 10]
39       6      11     [4, 5, 7, 10, 11]
40       6      12        [2, 5, 10, 12]
41       6      13                  [11]
42       7       8            [2, 4, 11]
43       7       9                   [1]
44       7      10         [1, 3, 4, 10]
45       7      11        [3, 4, 10, 11]
46       7      12        [2, 3, 10, 12]
47       7      13                  [11]
48       8      10                [4, 8]
49       8      11      [4, 5, 6, 7, 11]
50       8      12             [2, 5, 6]
51       8      13                  [11]
52       9      10                   [1]
53      10      11            [3, 4, 10]
54      10      12               [3, 10]
55      11      12         [3, 5, 6, 10]
56      11      13                  [11]

In [377]:
if True:
    i=2
    #remove i=2
    df_not_i=df.drop(df.index[[i]])
    df_not_i['intersect']=df_not_i.references.map(lambda x: check_intersect1d(x,df.loc[i,'references']))
    df_not_i=df_not_i[df_not_i.intersect.map(len)>0]
    df_not_i=df_not_i.rename_axis({'recid':'target'}, axis = 'columns')
    df_not_i['source']=df.loc[i,'recid']
    # switch source, target order and remove if already in edges
    df_not_i=df_not_i[ ( df_not_i.target.map( lambda x: [x] )+df_not_i.source.map( lambda x: [x] )
          ).map(lambda x: check_not_ref(x,edges) )]    
    
    # list of edges: [ [source, target],... ]
    edges=edges+np.stack(( df_not_i.source.values,df_not_i.target.values),axis=1 ).tolist()    
    #Store Edges DataFrame
    ed=ed.append( df_not_i[['source','target','intersect']] ).reset_index(drop=True)

ed

    source  target             intersect
0        1       2                [5, 8]
1        1       3                [5, 8]
2        1       6                   [5]
3        1       8                [5, 8]
4        1      10                   [8]
5        1      11                   [5]
6        1      12                   [5]
7        2       3   [3, 5, 7, 8, 9, 10]
8        2       5            [1, 3, 11]
9        2       6  [4, 5, 7, 9, 10, 11]
10       2       7     [1, 3, 4, 10, 11]
11       2       8      [4, 5, 7, 8, 11]
12       2       9                   [1]
13       2      10      [1, 3, 4, 8, 10]
14       2      11  [3, 4, 5, 7, 10, 11]
15       2      12            [3, 5, 10]
16       2      13                  [11]
17       3       5                   [3]
18       3       6     [5, 7, 9, 10, 12]
19       3       7           [3, 10, 12]
20       3       8             [5, 7, 8]
21       3      10            [3, 8, 10]
22       3      11         [3, 5, 7, 10]
23       3      12        [3, 5, 10, 12]

In [366]:
edges

[[1, 2],
 [1, 3],
 [1, 6],
 [1, 8],
 [1, 10],
 [1, 11],
 [1, 12],
 [2, 3],
 [2, 5],
 [2, 6],
 [2, 7],
 [2, 8],
 [2, 9],
 [2, 10],
 [2, 11],
 [2, 12],
 [2, 13]]

,target,references,intersect,source,ST
2,3,"[3, 5, 7, 8, 9, 10, 12]","[3, 5, 7, 8, 9, 10]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
4,5,"[1, 3, 6, 11]","[1, 3, 11]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
5,6,"[2, 4, 5, 7, 9, 10, 11, 12]","[4, 5, 7, 9, 10, 11]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
6,7,"[1, 2, 3, 4, 10, 11, 12]","[1, 3, 4, 10, 11]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
7,8,"[2, 4, 5, 6, 7, 8, 11]","[4, 5, 7, 8, 11]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
8,9,[1],[1],2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
9,10,"[1, 3, 4, 8, 10]","[1, 3, 4, 8, 10]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
10,11,"[3, 4, 5, 6, 7, 10, 11]","[3, 4, 5, 7, 10, 11]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
11,12,"[2, 3, 5, 6, 10, 12]","[3, 5, 10]",2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"
12,13,[11],[11],2,"[[1, 2], [1, 3], [1, 6], [1, 8], [1, 10], [1, 11], [1, 12]]"

In [318]:
(df_not_i.target.astype(str)+'::'+df_not_i.source.astype(str) ).str.split('::')

SyntaxError: unexpected EOF while parsing (<ipython-input-318-823e03b869c7>, line 1)

In [312]:
( df_not_i.target.astype(str)+'::'+df_not_i.source.astype(str) ).str.split('::').values

array([list(['1', '2']), list(['3', '2']), list(['5', '2']),
       list(['6', '2']), list(['7', '2']), list(['8', '2']),
       list(['9', '2']), list(['10', '2']), list(['11', '2']),
       list(['12', '2']), list(['13', '2'])], dtype=object)

In [308]:
def check_ref(x,ref):
    return x in ref
( df_not_i.target.astype(str)+'::'+df_not_i.source.astype(str) ).str.split('::').map(lambda x: check_ref(x,[[1,2]] ))
           #np.stack(( ed.source.values,ed.target.values),axis=1 )          ))

0     False
2     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
dtype: bool

In [310]:
check_ref([1,2] , [[1,2]])

True

In [287]:
df_not_i.assign(  TS= pd.Series( {'TS':np.stack(( df_not_i.target.values,df_not_i.source.values),axis=1 )}).values )

ValueError: Length of values does not match length of index

In [242]:
1+1

2

In [240]:
np.stack?