# Obtain edges from a Pajek-like file

In [31]:
import time
import pandas as pd
import numpy as np
from nodes_to_pajek import *
pd.set_option('display.max_rows', 500)

In [2]:
s=time.time()
imax=100#000
for i in range(imax):
    for j in range(imax):
        a=1+1

print(time.time()-s)

0.001239776611328125

##  Obtain full nodes file.  
Small example and Real case scenario

In [ ]:
FULL=True
if FULL==True:
    df_all=pd.read_json('hep_records.json',lines=True)
else:
    df_all=pd.read_json('nodes_small.json')

In [ ]:
dfr=df_all[df_all.references.map(len)>0].reset_index(drop=True)
dfr.shape

In [ ]:
pjt=nodes_to_pajek(dfr)

In [ ]:
pjt.shape

In [ ]:
pj=pjt.reset_index(drop=True)

In [10]:
pj.shape

(21733815, 2)

## Reload and start here

In [463]:
def get_edges(df,i,j):
    dfi=df[np.logical_or(df.recid==i,df.recid==j)]
    dm=dfi.references.values[:-1]-dfi.references.values[1:]
    dfi['nm']=np.concatenate((dm,[1]))
    dfi['np']=np.concatenate(([1],dm))
    return dfi[np.logical_or(dfi.nm==0,dfi.np==0)]

In [474]:
get_edges(pj_full,1403659,1244602)

Empty DataFrame
Columns: [recid, references, nm, np]
Index: []

In [464]:
#pj.to_json('pj_full.json')
pj=pd.read_json('pj_full.json')

In [465]:
pj_full=pj.copy()

In [466]:
pj=pj_full

In [467]:
pj.shape

(21733815, 2)

Loop upon references

In [568]:
i,j=625, 307561
pj=pj_full[np.logical_or(pj_full.recid==i,pj_full.recid==j)]

In [569]:
pj.shape

(775, 2)

In [570]:
import warnings
warnings.filterwarnings('ignore')

In [571]:
nmim=2
final_edges=pd.DataFrame()

In [572]:
def get_edges(df_r,i,j):
    dfi=df_r[np.logical_or(df_r.recid==i,df_r.recid==j)]
    dm=dfi.references.values[:-1]-dfi.references.values[1:]
    dfi['nm']=np.concatenate((dm,[1]))
    dfi['np']=np.concatenate(([1],dm))
    return dfi[np.logical_or(dfi.nm==0,dfi.np==0)]

In [573]:
get_edges(pj,i,j).shape

(36, 4)

In [574]:
#New pj
n_i=0
while n_i<100:#= pj.shape[0]>0 or   pj_full.shape[0]:
    print('n_i',n_i)
    n_i=n_i+1
    pj=pj.sort_values(['references','recid']).reset_index(drop=True) 
    if True:
        I=[]
        for r in pj.references:
            pjr=pj[pj.references==r]
            if pjr.shape[0]>1:
                break
            else:
                I=I+list( pjr.index )

        #pjr with at least two references
        #Analize pjr
        for i in pjr.recid.values:
            for j in pjr.recid.values:
                if i<j:
                    print(i,j)
                    #pji=pj[np.logical_or(pj.recid==i,pj.recid==j)]

                    #dm=pji.references.values[:-1]-pji.references.values[1:]
                    #pji['nm']=np.concatenate((dm,[1]))
                    #pji['np']=np.concatenate(([1],dm))
                    #pji=pji[np.logical_or(pji.nm==0,pji.np==0)]
                    pji=get_edges(pj,i,j)

                    II=list( pji.index)
                    II=np.unique(II)
                    n=int( len(II)/2 )
                    
                    if n>=nmim:
                        print('final',i,j,n)
                        final_edges=final_edges.append(
                            {'s':i,'t':j,'n':n},ignore_index=True).astype(int)
                    if i==625 and j==307561:
                        sys.exit('iii {} {}'.format(i,j))
        if True:
            index_to_drop=[]
            pass

        di=list(pjr.index)+index_to_drop
        pj=pj.drop(pj.index[I])

n_i 0
625 307561
final 625 307561 26

SystemExit: iii 625 307561

In [558]:
pji.index

Int64Index([  0,   1,  10,  11,  18,  19,  44,  45,  50,  51,  68,  69,  72,
             73,  75,  76,  77,  78,  79,  80,  92,  93, 185, 186, 187, 188,
            209, 210, 216, 217, 222, 223, 229, 230, 274, 275, 277, 278, 285,
            286, 293, 294, 296, 297, 311, 312, 313, 314, 321, 322, 769, 770],
           dtype='int64')

In [560]:
pji.shape,II

((52, 4),
 array([  0,   1,  10,  11,  18,  19,  44,  45,  50,  51,  68,  69,  72,
         73,  75,  76,  77,  78,  79,  80,  92,  93, 185, 186, 187, 188,
        209, 210, 216, 217, 222, 223, 229, 230, 274, 275, 277, 278, 285,
        286, 293, 294, 296, 297, 311, 312, 313, 314, 321, 322, 769, 770]))

In [530]:
import sys

In [470]:
pj=pj.sort_values(['references','recid']).reset_index(drop=True)

In [471]:
pj[:10]

    recid  references
0   76215           1
1   81651           1
2  128250           1
3  139190           1
4  151315           1
5  275304           1
6  311629           1
7  366639           1
8  452267           1
9  524107           1

In [473]:
get_edges(pj,76215,81651)

   recid  references  nm  np
0  76215           1   0   1
1  81651           1   1   0

In [413]:
pj=pj.drop(pj.index[I])#.sort_values(['references','recid']).reset_index(drop=True)

In [414]:
pj.shape

(21733765, 2)

In [409]:
df

Empty DataFrame
Columns: []
Index: []

In [402]:
df[ df.n>1 ]

AttributeError: 'DataFrame' object has no attribute 'n'

In [234]:
dm=pji.references.values[:-1]-pji.references.values[1:]
pji['nm']=np.concatenate((dm,[1]))
pji['np']=np.concatenate(([1],dm))
pji=pji[np.logical_or(pji.nm==0,pji.np==0)]

I=pji.index
n=pji.shape[0]/2
if n>=nmim:
    df=df.append({'s':i,'t':j,'n':n},ignore_index=True)

In [233]:
df

Empty DataFrame
Columns: []
Index: []

In [222]:
ppj

    recid  references  nm  np
0  284861         113   0   1
1  487322         113   1   0

In [7]:
#pj=pj[:4000074]#.reset_index(drop=True)

In [10]:
iini=0
iend=1000000
for i in range(1000):
    if i==0:
        ref_old=pj.loc[iend,'references']

    if pj.loc[iend,'references']!=ref_old:
        break
    iend=iend+i

pj=pj[iini:iend-1].reset_index(drop=True)
iini=iend-1    
iend=iend+1000000

In [23]:
ppj=pj_full[np.logical_or(pj_full.recid==76215,pj_full.recid==81651)]
ppj.shape

(2, 2)

In [25]:
ppj.transpose()

                0      1
recid       76215  81651
references      1      1

In [36]:
pj[200000:200000+10]

         recid  references
200000  866689        4510
200001  867097        4510
200002  867121        4510
200003  867124        4510
200004  867129        4510
200005  867130        4510
200006  867131        4510
200007  867137        4510
200008  867150        4510
200009  867156        4510

In [489]:
#: # 
i,j=625, 307561
df=pj_full.copy()
def get_edges(df,i,j):
    dfi=df[np.logical_or(df.recid==i,df.recid==j)]
    dm=dfi.references.values[:-1]-dfi.references.values[1:]
    dfi['nm']=np.concatenate((dm,[1]))
    dfi['np']=np.concatenate(([1],dm))
    return dfi[np.logical_or(dfi.nm==0,dfi.np==0)]

In [492]:
pj

           recid  references
10691     307561         719
1102215   307561       37141
1160959   307561       40076
1161832   307561       40077
1163126   307561       40078
1166984   307561       40208
1168091   307561       40216
1171809      625       40433
1172290   307561       40433
1174364      625       40440
1175102   307561       40440
1219178   307561       42753
1219274   307561       42755
1219415   307561       42770
122920    307561        3218
1236335   307561       43799
1243488   307561       44631
1258380   307561       44821
1260405   307561       44916
1260523   307561       44918
1279644   307561       45427
1285340   307561       45470
1288932   307561       45494
1317107   307561       46555
131972    307561        3438
1327634   307561       46745
1330801   307561       46813
1392281   307561       48391
1433917   307561       49843
1434808   307561       49845
1448599   307561       50057
1449536   307561       50059
1450759   307561       50062
1451630      625       50073
1452269   307561       50073
1454548   307561       50083
1480272   307561       50846
1484286   307561       50934
1487683   307561       51160
1488390   307561       51162
1488553      625       51165
1489004   307561       51165
1491810   307561       51184
1497520   307561       51188
1504481   307561       51208
1508166   307561       51302
151111    307561        3673
1514435      625       51324
1515276   307561       51324
1517651   307561       51344
1529912   307561       51406
1534372   307561       51673
154284    307561        3728
1562316   307561       52701
1564823   307561       52773
1568105      625       52785
1568185   307561       52785
1577         625         113
1578155   307561       53056
1579644   307561       53062
1581587   307561       53072
1582446   307561       53073
1590045   307561       53139
1592025   307561       53159
1613473   307561       54426
1615818   307561       54481
1632004   307561       54930
1633316   307561       54959
1635000   307561       54960
1641500   307561       54998
1646845   307561       55000
1650738      625       55121
1652406   307561       55130
1655998   307561       55136
1660076   307561       55158
1665330   307561       55211
1667825   307561       55331
1671759   307561       55507
1672617   307561       55586
168092    307561        3906
1710649   307561       58507
1711322   307561       58622
1715968   307561       59588
1747984   307561       60999
1752279   307561       61123
1756056   307561       61166
1760114   307561       61187
1760382   307561       61190
1773695   307561       62062
1774359   307561       62091
1775708   307561       62209
1798254   307561       63233
179915       625        4327
1811485   307561       65213
1811798   307561       65256
181189    307561        4327
1812084   307561       65306
1815399   307561       65902
18223371  307561      873279
1843383   307561       67296
1848265   307561       67330
1851865   307561       67394
1857261      625       67620
1858855   307561       67624
1864657   307561       67647
1869254      625       67962
186938    307561        4328
1870003   307561       67962
1874007   307561       68079
1874544      625       68080
18750111  307561      919794
1875148   307561       68080
18755473  307561      920498
1877188   307561       68151
1893757   307561       68898
1900005   307561       69128
1906009   307561       69373
1907885   307561       69590
1908093   307561       69592
19275569  307561     1115219
19278870     625     1115225
19279023  307561     1115225
19370221  307561     1121479
1943393      625       73447
1943875   307561       73447
194470    307561        4447
195128    307561        4483
1953452   307561       73534
1959504   307561       73646
196315    307561        4509
1971324      625       74048
1977623      625       74321
1981200   307561       74353
19889426  307561     1232544
1993146      625       74884
1993785      625       74885
1994029   307561       74885
1994354      625       74886
1998283      625       74887
1998654   307561       74887
1999307   307561       74888
2002385   307561       75064
2015917   307561       75749
2021312   307561       75931
2021698   307561       75932
2041554      625       78182
2041830   307561       78232
204594    307561        4677
2065660   307561       80491
20692407  307561     1344720
2072235   307561       80596
2075313   307561       80915
2099094   307561       81202
2099653   307561       81211
2099744   307561       81212
2102732      625       81238
2104291   307561       81238
2119056      625       81351
2120605   307561       81351
2124563   307561       81404
2125723      625       81406
2131116   307561       81638
2133384   307561       81746
2139111   307561       82187
2152189   307561       83660
2153475      625       83667
2153640   307561       83667
2154304   307561       83670
21564968  307561     1486785
2157615   307561       83687
2162390   307561       83736
216656    307561        5130
2167553   307561       83742
2169326   307561       83748
2192861   307561       84658
219831    307561        5263
2208854   307561       85330
2219113   307561       87191
22286     307561         931
2240347   307561       88963
224291    307561        5464
2244967   307561       89056
2286825   307561       89817
228852    307561        5687
228974    307561        5688
2298646   307561       90484
230367    307561        5749
23225     307561         978
232439    307561        5838
2324839   307561       91174
2358432   307561       92855
2364806   307561       93343
2368797      625       94358
2373492   307561       94496
2396402   307561       95448
2410620   307561       96705
2411436   307561       96836
2441338   307561       98443
2463537   307561       99402
2468175   307561       99663
247873    307561        6434
248153    307561        6453
2515124   307561      101400
2544150   307561      106856
2547960   307561      107096
2579859   307561      108444
2587649   307561      108639
2592584   307561      108763
2609369   307561      109148
262126    307561        6886
2623917   307561      109607
2637558   307561      110115
2646328   307561      110345
2666704   307561      112099
2670112   307561      112352
2696      307561         113
27143     307561        1077
2716578   307561      117832
272878    307561        7351
2742707   307561      118779
275392    307561        7420
2754935   307561      119151
2774137   307561      119610
2789855   307561      120138
2803446   307561      120621
2810869   307561      120964
2820347   307561      121225
2821502   307561      121285
2822062   307561      121304
2829092   307561      121685
2838948   307561      122125
2861618   307561      122985
287322    307561        7822
2874647   307561      124149
2884882   307561      124885
2887833   307561      125044
2899396   307561      126142
2910444   307561      127551
2914418   307561      128223
294337    307561        8085
2944528   307561      129100
2950211   307561      129314
2952964   307561      129364
2957260   307561      129481
2963859   307561      129689
2967246   307561      129862
297660    307561        8203
2985656   307561      130537
2998186   307561      130697
3015113   307561      131460
...          ...         ...
4551728   307561      217148
4555804   307561      217437
4563097   307561      217934
4565233   307561      218028
4566542   307561      218058
4576076   307561      218418
4577704   307561      218549
4589470   307561      219353
4598277   307561      219817
4607672   307561      220188
4614700   307561      220812
4621091   307561      221067
4622248   307561      221176
4622400   307561      221202
4622621   307561      221251
4627220   307561      221401
4630796   307561      221595
4633881   307561      221897
4634433   307561      221907
4641197   307561      222343
464869    307561       11883
4648960   307561      223436
4683558   307561      226911
4689645   307561      227025
4693409   307561      227135
4709141   307561      227589
4709926   307561      227638
4713752   307561      227943
4720037   307561      228157
4722951   307561      228259
4723757   307561      228314
472620    307561       11968
4732830   307561      228648
4735979   307561      228885
4753818   307561      229843
4755350   307561      229892
4756597   307561      229935
4756634   307561      229936
4758527   307561      229987
4758694   307561      229991
4759151   307561      230020
4765775   307561      230220
4766182   307561      230230
4784151   307561      231061
4784221   307561      231067
4789731   307561      231330
4791155   307561      231389
4792396   307561      231478
4793787   307561      231494
4802191   307561      232394
4808311   307561      232775
4812314   307561      232937
4812491   307561      232972
4817347   307561      233271
4822287   307561      233570
4824699   307561      233676
4833903   307561      234753
483818       625       12285
4844333   307561      235194
4844791   307561      235234
484829    307561       12285
4855167   307561      235775
4857315   307561      235859
486462    307561       12286
4867693   307561      236635
486784    307561       12287
486834       625       12288
486921    307561       12288
487462    307561       12289
4883345   307561      237916
4886565   307561      238105
488667       625       12290
4888408   307561      238257
4888497   307561      238264
489104    307561       12290
4899813   307561      239233
4899827   307561      239234
4901208   307561      239518
490235       625       12291
4905779   307561      240280
490727    307561       12291
4910167   307561      240719
494533       625       12292
494927    307561       12292
4956551   307561      244936
4976861   307561      245551
4988675   307561      245949
4988723   307561      245954
5000931   307561      246677
5002271   307561      246776
5015130   307561      247375
5015660   307561      247390
5019120   307561      247605
5023395   307561      247916
5024326   307561      247989
5024550   307561      248011
5029354   307561      248225
5043434   307561      248976
5047059   307561      249206
5049970   307561      249350
5051642   307561      249407
5054631   307561      249631
5055156   307561      249665
5056704   307561      249703
5061637   307561      249967
5062132   307561      249972
5069719   307561      250311
5073694   307561      250479
5080679   307561      250932
5093691   307561      251649
5097280   307561      251817
5101166   307561      252012
5105294   307561      252209
5106142   307561      252239
5107189   307561      252240
5110694   307561      252576
5136120   307561      253790
5148982   307561      254449
514937    307561       12877
5156338   307561      255196
5161300   307561      256070
5162729   307561      256446
5163232   307561      256525
5203304   307561      260519
5228998   307561      261321
524723    307561       13234
5265775   307561      262791
526790    307561       13235
5270930   307561      263041
5273497   307561      263175
5282788   307561      263438
5287793   307561      263760
5292290   307561      264036
5292484   307561      264051
5295033   307561      264149
53102     307561        1797
5357165   307561      267377
5378547   307561      268823
5389028   307561      269597
5401558   307561      270379
542568    307561       13704
543101    307561       13729
5437318   307561      276321
545316    307561       13757
5456935   307561      276930
546068    307561       13782
5466779   307561      277241
546720    307561       13810
5492233   307561      278380
549872    307561       13945
5504428   307561      278936
5511428   307561      279315
5518563   307561      279649
552009    307561       14006
553114    307561       14008
553370       625       14009
554073    307561       14009
555780    307561       14056
557435    307561       14087
5588897   307561      283732
5588899   307561      283733
560688    307561       14127
561443    307561       14164
562482    307561       14188
565475    307561       14252
567424    307561       14284
567740    307561       14287
569604    307561       14354
5714324   307561      295038
572249    307561       14434
582609    307561       14799
595154    307561       15239
596837    307561       15316
596855    307561       15317
598134    307561       15418
604085    307561       15583
611199    307561       15702
611307    307561       15703
617982    307561       15898
620455    307561       16015
621999    307561       16084
623925    307561       16193
624533    307561       16219
633658    307561       16411
634205    307561       16439
635139    307561       16483
636521    307561       16540
636619    307561       16542
636763    307561       16552
638093    307561       16618
642630    307561       16802
647583    307561       17016
647601    307561       17017
652530    307561       17166
657448    307561       17260
657710    307561       17272
667992    307561       17598
679697    307561       17902
688469    307561       18192
688594    307561       18214
699413    307561       18583
699830    307561       18584
703930    307561       18727
707320    307561       18899
713214    307561       20699
713609    307561       20724
713657    307561       20726
71556     307561        2230
717682    307561       20897
719835    307561       21015
721078    307561       21025
721494    307561       21076
722308    307561       21098
729820    307561       21266
731101    307561       21359
734411    307561       21494
734594    307561       21495
734714    307561       21496
734954    307561       21497
737373    307561       21613
752945    307561       22019
755373    307561       22139
757526    307561       22262
758421    307561       22299
758557    307561       22307
760378    307561       22400
760958    307561       22425
762710    307561       22483
765585    307561       22514
765719    307561       22524
779341    307561       23071
787751    307561       23422
793389    307561       23569
797749    307561       23843
799033    307561       23956
799223    307561       23964
800013    307561       24035
808567    307561       24389
80884     307561        2423
814194    307561       24627
815724    307561       24644
816819    307561       24697
816871    307561       24714
817570    307561       24784
822423    307561       24927
846361    307561       25812
856407    307561       26312
86805        625        2451
87149     307561        2451
93284     307561        2477

[775 rows x 2 columns]

In [475]:
ppj=pj_full[np.logical_or(pj_full.recid==1403659,pj_full.recid==1244602)]
ppj=ppj.sort_values(['references','recid'])
ppj.shape

(74, 2)

In [372]:
ppj

            recid  references
18        1244602          32
19        1403659          32
504602    1403659       12474
771548    1403659       22740
3605598   1244602      165994
4370720   1403659      206433
4976456   1244602      245541
6408982   1244602      339331
6952046   1403659      373454
7078482   1244602      378794
7308146   1244602      393570
7459304   1244602      398357
7740213   1244602      415163
7788584   1244602      416207
7810653   1244602      416706
7868861   1244602      418308
7968196   1244602      421404
8314802   1244602      440361
8479787   1244602      445440
8510784   1244602      446812
8872132   1244602      466230
10125276  1244602      511036
10125783  1244602      511042
10331821  1244602      524275
10593752  1244602      532671
12439239  1244602      605591
13420382  1403659      646863
14424061  1244602      687136
14593842  1244602      694047
14671675  1244602      697612
14760240  1244602      701267
14902312  1244602      711507
15153593  1244602      719818
15160380  1244602      720066
15221003  1244602      722552
15449233  1244602      731775
15457747  1244602      732116
15481231  1244602      733144
15573501  1244602      742143
15631087  1244602      744383
15848051  1244602      752348
15888753  1244602      753919
15902630  1244602      754639
16088087  1244602      763584
16126675  1244602      765520
16185057  1244602      768918
16227872  1244602      770708
16583482  1244602      788245
16981810  1244602      805952
17107874  1244602      813834
17112714  1244602      814001
17117418  1244602      814188
17119002  1244602      814229
17184653  1244602      816824
17282966  1244602      821141
17427094  1244602      828112
17432749  1244602      828375
17537943  1244602      833933
17779157  1244602      846315
17780017  1244602      846348
17904073  1244602      853411
18064979  1244602      861781
18164260  1244602      868029
18351531  1244602      881893
18359978  1244602      882211
18403629  1244602      884531
18480476  1244602      891510
18569479  1244602      897090
18756571  1244602      920550
18762659  1244602      921520
18886475  1403659      930667
20100046  1403659     1257467
20142424  1403659     1262912
20142657  1403659     1263013

In [ ]:
625, 307561

In [44]:
ppj=pj_full[np.logical_or(pj_full.recid==625,pj_full.recid==307561)]
ppj=ppj.sort_values(['references','recid'])
ppj.shape

(775, 2)

In [59]:
mc=ppj.references[1:].values-ppj.references[:-1].values

In [61]:
mc[mc==0].shape

(26,)

In [62]:
diff=ppj.references[1:].values

In [68]:
ppj['nm']=np.concatenate((mc,[1]))
ppj['np']=np.concatenate(([1],mc))

In [71]:
ppj[np.logical_or(ppj.nm==0,ppj.np==0)]

           recid  references     n    nm    np
1577         625         113     0     0     1
2696      307561         113   606   606     0
86805        625        2451     0     0    28
87149     307561        2451    26    26     0
179915       625        4327     0     0   421
181189    307561        4327     1     1     0
342916       625        9113     0     0    56
343074    307561        9113     9     9     0
360567       625        9154     0     0     5
360794    307561        9154    15    15     0
483818       625       12285     0     0   317
484829    307561       12285     1     1     0
486834       625       12288     0     0     1
486921    307561       12288     1     1     0
488667       625       12290     0     0     1
489104    307561       12290     1     1     0
490235       625       12291     0     0     1
490727    307561       12291     1     1     0
494533       625       12292     0     0     1
494927    307561       12292   585   585     0
553370       625       14009     0     0     1
554073    307561       14009    47    47     0
1171809      625       40433     0     0   217
1172290   307561       40433     7     7     0
1174364      625       40440     0     0     7
1175102   307561       40440  2313  2313     0
1451630      625       50073     0     0    11
1452269   307561       50073    10    10     0
1488553      625       51165     0     0     3
1489004   307561       51165    19    19     0
1514435      625       51324     0     0    22
1515276   307561       51324    20    20     0
1568105      625       52785     0     0    12
1568185   307561       52785   271   271     0
1869254      625       67962     0     0   315
1870003   307561       67962   117   117     0
1874544      625       68080     0     0     1
1875148   307561       68080    71    71     0
1943393      625       73447     0     0  3855
1943875   307561       73447    87    87     0
1993785      625       74885     0     0     1
1994029   307561       74885     1     1     0
1998283      625       74887     0     0     1
1998654   307561       74887     1     1     0
2102732      625       81238     0     0    26
2104291   307561       81238   113   113     0
2119056      625       81351     0     0   113
2120605   307561       81351    53    53     0
2153475      625       83667     0     0     7
2153640   307561       83667     3     3     0
19278870     625     1115225     0     0     6
19279023  307561     1115225  6254  6254     0

##  Main code to find the edges

In [9]:
start_time=time.time()

DEBUG=True
if DEBUG: 
    #===log===
    f=open('kk.log','w')
    f.write('')
    f.close()
    #==DEBUG===========

id_col='recid'; refs_col='references'
# Half of the work is order by refs_col, and id_col
pj=pj.sort_values([refs_col,id_col]).reset_index(drop=True)
ed={}
t=()
new_ref=0
i=0
iprint=1000

while i<=pj.index[-1]:
    if not i%iprint:
        print(i,end='\r')
        if DEBUG:
            #===log===
            f=open('kk.log','a')
            f.write('{}\n'.format(i))
            f.close()
            #=======
    e1=pj.loc[i,id_col]
    #check next entry and beyond:
    for j in range(i+1,pj.index[-1]+1):
        #print('i,j',i,j) #,end='\r')
        e2=pj.loc[j,id_col]
        #DEBUG
        #if (e1,e2)==(190836,1644265):
        #    print('i,j,check',i,j)
        edges=False
        if pj.loc[i,refs_col]==pj.loc[j,refs_col]:
            edges=True
        #else:
            #print('newi',i,j)
            
        if edges:
            if e1<e2:
                t=(e1,e2)
                if not ed.get(t):
                    ed[t]=1
                    #DEBUG
                    #ed[t]=str( (i,j) )
                else: #increase the number of common refs_col
                    ed[t]=ed[t]+1
                    #DEBUG: 
                    #ed[t]=ed[t]+str(  (i,j)  )
        else:
            # Go to next i when nor additional edges are found
            break
    #search after j. 
    i=i+1 # Be sure to increase i to avoid infinite loop
    #if i>=25:
    #    break
    continue

print(time.time()-start_time)

15287.510861873627

In [10]:
le=[{t:ed[t]} for t in ed.keys() if ed[t]>4 ]
len(le)

655851

In [ ]:
1+1

In [14]:
list(ed.keys())[:3]

[(802724, 1190685), (664030, 809979), (1186162, 1208546)]

Continue in [run2](./run2/pajek.ipynb)

In [47]:
N=lambda x:  x*1052/100000/60
npt=1000000
print( N(npt),'m') 
print( N(npt)/60,'h')

175.33333333333334 m
2.9222222222222225 h

In [48]:
le=[{t:ed[t]} for t in ed.keys() if ed[t]>4 ]
len(le)

3018

In [49]:
edf=pd.DataFrame({'tmp':le})
edf['edges'] =edf.tmp.map(lambda x: list(x.keys())[0]  )
edf['len_ed']=edf.tmp.map(lambda x: list(x.values())[0]  )
edf=edf.drop('tmp',axis='columns')
edf[:3]

              edges  len_ed
0    (4380, 666911)       5
1  (15239, 1387684)       5
2   (98947, 129333)       5

In [50]:
#edf.to_json('example1E5.json')

In [99]:
pd.DataFrame([{'ttbar':
{'tau pT' : r'$3.29 pm 0.0056$',
'b-jet' : r'$49.8 pm 0.087$',
'lep-veto' : r'$71.8 pm 0.11$',
'MET' : r'$12.4 pm 0.096$',
'Delta phi' : r'$24.8 pm 0.36$'}},
              {'single top':
{'tau pT' : r'$1.13 pm 0.0035$',
'b-jet' : r'$40.4 pm 0.15$',
'lep-veto' : r'$90.5 pm 0.14$',
'MET' : r'$2.55 pm 0.082$',
'Delta phi' : r'$31.4 pm 1.5$'}}
             ])

,single top,ttbar
0,NaN,"{'MET': '$12.4 pm 0.096$', 'tau pT': '$3.29 pm..."
1,"{'MET': '$2.55 pm 0.082$', 'tau pT': '$1.13 pm...",NaN

In [106]:
pd.DataFrame([{'N':{'ttbar':
[{'tau pT' : r'$3.29 pm 0.0056$',
'b-jet' : r'$49.8 pm 0.087$',
'lep-veto' : r'$71.8 pm 0.11$',
'MET' : r'$12.4 pm 0.096$',
'Delta phi' : r'$24.8 pm 0.36$'}]}}])

                                                   N
0  {'ttbar': [{'MET': '$12.4 pm 0.096$', 'tau pT'...

In [188]:
l=[{'ttbar':
{'tau pT' : r'$3.29 \pm 0.0056$',
'b-jet' : r'$49.8 \pm 0.087$',
'lep-veto' : r'$71.8 \pm 0.11$',
'MET' : r'$12.4 \pm 0.096$',
'Delta phi' : r'$24.8 \pm 0.36$'}},
{'single top':
{'tau pT' : r'$1.13 \pm 0.0035$',
'b-jet' : r'$40.4 \pm 0.15$',
'lep-veto' : r'$90.5 \pm 0.14$',
'MET' : r'$2.55 \pm 0.082$',
'Delta phi' : r'$31.4 \pm 1.5$'}},
{'w+jets':
{'tau pT' : r'$2.97 \pm 0.0094$',
'b-jet' : r'$8.4 \pm 0.09$',
'lep-veto' : r'$94.1 \pm 0.26$',
'MET' : r'$9.65 \pm 0.34$',
'Delta phi' : r'$23 \pm 1.6$'}},
{'z+jets':
{'tau pT' : r'$2.87 \pm 0.014$',
'b-jet' : r'$14.1 \pm 0.18$',
'lep-veto' : r'$97.4 \pm 0.21$',
'MET' : r'$6.45 \pm 0.34$',
'Delta phi' : r'$32.4 \pm 2.5$'}},
{'ww':
{'tau pT' : r'$0.575 \pm 0.0042$',
'b-jet' : r'$7.66 \pm 0.19$',
'lep-veto' : r'$92.5 \pm 0.7$',
'MET' : r'$6.63 \pm 0.68$',
'Delta phi' : r'$21.6 \pm 4.4$'}},
{'wz':
{'tau pT' : r'$0.638 \pm 0.0071$',
'b-jet' : r'$11.9 \pm 0.36$',
'lep-veto' : r'$93.2 \pm 0.82$',
'MET' : r'$6.7 \pm 0.84$',
'Delta phi' : r'$39 \pm 6.3$'}},
{'zz':
{'tau pT' : r'$0.673 \pm 0.012$',
'b-jet' : r'$17.8 \pm 0.67$',
'lep-veto' : r'$92.7 \pm 1.1$',
'MET' : r'$6 \pm 1$',
'Delta phi' : r'$65.6 \pm 8.4$'}},
{'signal 200':
{'tau pT' : r'$8.34 \pm 0.081$',
'b-jet' : r'$18.1 \pm 0.39$',
'lep-veto' : r'$99.6 \pm 0.15$',
'MET' : r'$5.97 \pm 0.57$',
'Delta phi' : r'$25.7 \pm 4.3$'}},
{'signal 250':
{'tau pT' : r'$13.9 \pm 0.15$',
'b-jet' : r'$17.2 \pm 0.44$',
'lep-veto' : r'$99.9 \pm 0.078$',
'MET' : r'$15.1 \pm 1$',
'Delta phi' : r'$49 \pm 3.6$'}},
{'signal 300':
{'tau pT' : r'$18.3 \pm 0.24$',
'b-jet' : r'$17.4 \pm 0.56$',
'lep-veto' : r'$99.9 \pm 0.13$',
'MET' : r'$28.6 \pm 1.6$',
'Delta phi' : r'$69.2 \pm 3.1$'}},
{'signal 350':
{'tau pT' : r'$22.2 \pm 0.27$',
'b-jet' : r'$17.1 \pm 0.52$',
'lep-veto' : r'$99.7 \pm 0.19$',
'MET' : r'$37.6 \pm 1.6$',
'Delta phi' : r'$67.8 \pm 2.5$'}},
{'signal 500':
{'tau pT' : r'$27.5 \pm 0.31$',
'b-jet' : r'$19.6 \pm 0.52$',
'lep-veto' : r'$99.9 \pm 0.089$',
'MET' : r'$61.5 \pm 1.4$',
'Delta phi' : r'$77.5 \pm 1.6$'}},
{'signal 750':
{'tau pT' : r'$31.5 \pm 0.34$',
'b-jet' : r'$21.7 \pm 0.54$',
'lep-veto' : r'$99.7 \pm 0.16$',
'MET' : r'$79.1 \pm 1.2$',
'Delta phi' : r'$82.4 \pm 1.2$'}},
{'signal 1000':
{'tau pT' : r'$32.8 \pm 0.37$',
'b-jet' : r'$21.6 \pm 0.56$',
'lep-veto' : r'$99.7 \pm 0.17$',
'MET' : r'$87.2 \pm 0.98$',
'Delta phi' : r'$83.4 \pm 1.2$'}}]

In [189]:
inds=[]
for i in range(len(l)):
    if i==0:
        cols=list( l[0]['ttbar'].keys() )
    ind_i=list( l[i].keys() )[0]
    inds.append( ind_i )
    
df=pd.DataFrame(index=inds,columns=cols).fillna('')
df

            MET tau pT lep-veto b-jet Delta phi
ttbar
single top
w+jets
z+jets
ww
wz
zz
signal 200
signal 250
signal 300
signal 350
signal 500
signal 750
signal 1000

In [190]:
i=0
for index in inds:
    for columns in cols:
        df.loc[index,columns]=l[i][index][columns]
    i=i+1

In [191]:
print(df.to_latex())

\begin{tabular}{llllll}
\toprule
{} &               MET &              tau pT &          lep-veto &             b-jet &        Delta phi \\
\midrule
ttbar       &  \$12.4 \textbackslashpm 0.096\$ &   \$3.29 \textbackslashpm 0.0056\$ &   \$71.8 \textbackslashpm 0.11\$ &  \$49.8 \textbackslashpm 0.087\$ &  \$24.8 \textbackslashpm 0.36\$ \\
single top  &  \$2.55 \textbackslashpm 0.082\$ &   \$1.13 \textbackslashpm 0.0035\$ &   \$90.5 \textbackslashpm 0.14\$ &   \$40.4 \textbackslashpm 0.15\$ &   \$31.4 \textbackslashpm 1.5\$ \\
w+jets      &   \$9.65 \textbackslashpm 0.34\$ &   \$2.97 \textbackslashpm 0.0094\$ &   \$94.1 \textbackslashpm 0.26\$ &    \$8.4 \textbackslashpm 0.09\$ &     \$23 \textbackslashpm 1.6\$ \\
z+jets      &   \$6.45 \textbackslashpm 0.34\$ &    \$2.87 \textbackslashpm 0.014\$ &   \$97.4 \textbackslashpm 0.21\$ &   \$14.1 \textbackslashpm 0.18\$ &   \$32.4 \textbackslashpm 2.5\$ \\
ww          &   \$6.63 \textbackslashpm 0.68\$ &  \$0.575 \textbackslashpm 0.0042\$ &    \$92.5 \textbackslashpm 0.7\$ &   \$7.66 \textbackslashpm 0.19\$ &   \$21.6 \textbackslashpm 4.4\$ \\
wz          &    \$6.7 \textbackslashpm 0.84\$ &  \$0.638 \textbackslashpm 0.0071\$ &   \$93.2 \textbackslashpm 0.82\$ &   \$11.9 \textbackslashpm 0.36\$ &     \$39 \textbackslashpm 6.3\$ \\
zz          &         \$6 \textbackslashpm 1\$ &   \$0.673 \textbackslashpm 0.012\$ &    \$92.7 \textbackslashpm 1.1\$ &   \$17.8 \textbackslashpm 0.67\$ &   \$65.6 \textbackslashpm 8.4\$ \\
signal 200  &   \$5.97 \textbackslashpm 0.57\$ &    \$8.34 \textbackslashpm 0.081\$ &   \$99.6 \textbackslashpm 0.15\$ &   \$18.1 \textbackslashpm 0.39\$ &   \$25.7 \textbackslashpm 4.3\$ \\
signal 250  &      \$15.1 \textbackslashpm 1\$ &     \$13.9 \textbackslashpm 0.15\$ &  \$99.9 \textbackslashpm 0.078\$ &   \$17.2 \textbackslashpm 0.44\$ &     \$49 \textbackslashpm 3.6\$ \\
signal 300  &    \$28.6 \textbackslashpm 1.6\$ &     \$18.3 \textbackslashpm 0.24\$ &   \$99.9 \textbackslashpm 0.13\$ &   \$17.4 \textbackslashpm 0.56\$ &   \$69.2 \textbackslashpm 3.1\$ \\
signal 350  &    \$37.6 \textbackslashpm 1.6\$ &     \$22.2 \textbackslashpm 0.27\$ &   \$99.7 \textbackslashpm 0.19\$ &   \$17.1 \textbackslashpm 0.52\$ &   \$67.8 \textbackslashpm 2.5\$ \\
signal 500  &    \$61.5 \textbackslashpm 1.4\$ &     \$27.5 \textbackslashpm 0.31\$ &  \$99.9 \textbackslashpm 0.089\$ &   \$19.6 \textbackslashpm 0.52\$ &   \$77.5 \textbackslashpm 1.6\$ \\
signal 750  &    \$79.1 \textbackslashpm 1.2\$ &     \$31.5 \textbackslashpm 0.34\$ &   \$99.7 \textbackslashpm 0.16\$ &   \$21.7 \textbackslashpm 0.54\$ &   \$82.4 \textbackslashpm 1.2\$ \\
signal 1000 &   \$87.2 \textbackslashpm 0.98\$ &     \$32.8 \textbackslashpm 0.37\$ &   \$99.7 \textbackslashpm 0.17\$ &   \$21.6 \textbackslashpm 0.56\$ &   \$83.4 \textbackslashpm 1.2\$ \\
\bottomrule
\end{tabular}

In [192]:
df.to_latex?

In [171]:
df=pd.DataFrame(index=ind,columns=cols).fillna('')
df

            MET tau pT lep-veto b-jet Delta phi
ttbar
single top
w+jets
z+jets
ww
wz
zz
signal 200
signal 250
signal 300
signal 350
signal 500
signal 750
signal 1000

In [172]:
df.loc['ww','MET']

''

In [136]:
df.N[0].get('ttbar')

{'Delta phi': '$24.8 pm 0.36$',
 'MET': '$12.4 pm 0.096$',
 'b-jet': '$49.8 pm 0.087$',
 'lep-veto': '$71.8 pm 0.11$',
 'tau pT': '$3.29 pm 0.0056$'}

In [140]:
df

                                                    N
0   {'ttbar': {'MET': '$12.4 pm 0.096$', 'tau pT':...
1   {'single top': {'MET': '$2.55 pm 0.082$', 'tau...
2   {'w+jets': {'MET': '$9.65 pm 0.34$', 'tau pT':...
3   {'z+jets': {'MET': '$6.45 pm 0.34$', 'tau pT':...
4   {'ww': {'MET': '$6.63 pm 0.68$', 'tau pT': '$0...
5   {'wz': {'MET': '$6.7 pm 0.84$', 'tau pT': '$0....
6   {'zz': {'MET': '$6 pm 1$', 'tau pT': '$0.673 p...
7   {'signal 200': {'MET': '$5.97 pm 0.57$', 'tau ...
8   {'signal 250': {'MET': '$15.1 pm 1$', 'tau pT'...
9   {'signal 300': {'MET': '$28.6 pm 1.6$', 'tau p...
10  {'signal 350': {'MET': '$37.6 pm 1.6$', 'tau p...
11  {'signal 500': {'MET': '$61.5 pm 1.4$', 'tau p...
12  {'signal 750': {'MET': '$79.1 pm 1.2$', 'tau p...
13  {'signal 1000': {'MET': '$87.2 pm 0.98$', 'tau...

In [133]:
df.N[[0]].get(0)

{'ttbar': {'Delta phi': '$24.8 pm 0.36$',
  'MET': '$12.4 pm 0.096$',
  'b-jet': '$49.8 pm 0.087$',
  'lep-veto': '$71.8 pm 0.11$',
  'tau pT': '$3.29 pm 0.0056$'}}

In [120]:
def unpack(df, column, fillna=None):
    ret = None
    if fillna is None:
        ret = pd.concat([df, pd.DataFrame((d for idx, d in df[column].iteritems()))], axis=1)
        del ret[column]
    else:
        ret = pd.concat([df, pd.DataFrame((d for idx, d in df[column].iteritems())).fillna(fillna)], axis=1)
        del ret[column]
    return ret

unpack(df, 'N', 0)

,signal 1000,signal 200,signal 250,signal 300,signal 350,signal 500,signal 750,single top,ttbar,w+jets,ww,wz,z+jets,zz
0,0,0,0,0,0,0,0,0,"{'MET': '$12.4 pm 0.096$', 'tau pT': '$3.29 pm...",0,0,0,0,0
1,0,0,0,0,0,0,0,"{'MET': '$2.55 pm 0.082$', 'tau pT': '$1.13 pm...",0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,"{'MET': '$9.65 pm 0.34$', 'tau pT': '$2.97 pm ...",0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,"{'MET': '$6.45 pm 0.34$', 'tau pT': '$2.87 pm ...",0
4,0,0,0,0,0,0,0,0,0,0,"{'MET': '$6.63 pm 0.68$', 'tau pT': '$0.575 pm...",0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,"{'MET': '$6.7 pm 0.84$', 'tau pT': '$0.638 pm ...",0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0,"{'MET': '$6 pm 1$', 'tau pT': '$0.673 pm 0.012..."
7,0,"{'MET': '$5.97 pm 0.57$', 'tau pT': '$8.34 pm ...",0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,"{'MET': '$15.1 pm 1$', 'tau pT': '$13.9 pm 0.1...",0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,"{'MET': '$28.6 pm 1.6$', 'tau pT': '$18.3 pm 0...",0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,"{'MET': '$37.6 pm 1.6$', 'tau pT': '$22.2 pm 0...",0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,"{'MET': '$61.5 pm 1.4$', 'tau pT': '$27.5 pm 0...",0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,"{'MET': '$79.1 pm 1.2$', 'tau pT': '$31.5 pm 0...",0,0,0,0,0,0,0
13,"{'MET': '$87.2 pm 0.98$', 'tau pT': '$32.8 pm ...",0,0,0,0,0,0,0,0,0,0,0,0,0

Go to the previous code and run there.

## Backup

IMPORTANT COMMITS: 
* 44fa444ba3cc1f9a052bf80051f44a0d11c5838a
  * Here the counting of the slow and fast to grouping mathc